@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1, h2, h3, h4,
h5, h6, ul, figure,
blockquote, p {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes bts-color {
  0% {
    background-color: #FCEEF3;
  }
  25% {
    background-color: #FBDFE6;
  }
  50% {
    background-color: #F5B9C9;
  }
  75% {
    background-color: #F297B3;
  }
  100% {
    background-color: hotpink;
  }
}

@keyframes bts-color {
  0% {
    background-color: #FCEEF3;
  }
  25% {
    background-color: #FBDFE6;
  }
  50% {
    background-color: #F5B9C9;
  }
  75% {
    background-color: #F297B3;
  }
  100% {
    background-color: hotpink;
  }
}
@-webkit-keyframes bts-op {
  from {
    transform: scale(0.98);
  }
  to {
    transform: scale(1);
  }
  from {
    transform: rotate(-8deg);
  }
  to {
    transform: rotate(8deg);
  }
}
@keyframes bts-op {
  from {
    transform: scale(0.98);
  }
  to {
    transform: scale(1);
  }
  from {
    transform: rotate(-8deg);
  }
  to {
    transform: rotate(8deg);
  }
}
.nav_ani {
  -webkit-animation-name: bts-color;
          animation-name: bts-color;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.home_header {
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

@media (min-width: 200px) and (min-width: 200px) {
  .home_nav {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: 16vh;
  }
  .home_nav > ul {
    display: none;
  }
  .home_nav > section {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    justify-content: center;
    align-items: center;
    background-color: #FBDFE6;
    height: 8vh;
    width: 100%;
  }
  .home_nav img {
    width: 3vh;
    height: 3vh;
    border: 3px #F297B3 solid;
    border-radius: 50%;
  }
  .home_nav figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_nav h2 {
    font-size: 14px;
  }
  .home_nav details {
    position: fixed;
    text-align: right;
    width: 98%;
    z-index: 1;
    padding-top: 8vh;
    padding-right: 1%;
    height: 8vh;
  }
  .home_nav summary {
    font-size: 28px;
    color: #F297B3;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
  }
  .home_nav details > ul {
    position: fixed;
    width: 98%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .home_nav details > ul li {
    display: flex;
    width: 100%;
    border-bottom: 1px whitesmoke solid;
    border-right: 1px whitesmoke solid;
    background-color: rgba(50, 50, 50, 0.4);
    border-radius: 4px;
  }
  .home_nav details > ul a {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 2%;
    color: whitesmoke;
  }
  .home_nav details > ul a:hover {
    background-color: #FCEEF3;
    color: #F297B3;
  }
  .home_header {
    display: flex;
    background-image: url("/img/bg-header.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    justify-content: center;
    align-items: center;
  }
  .home_header > section {
    background-color: rgba(244, 219, 232, 0.5);
    border-radius: 20px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    justify-content: flex-end;
  }
  .home_header > section h1 {
    font-size: 26px;
    font-weight: 600;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0;
    padding-right: 0;
    width: 70%;
    text-align: center;
  }
  .home_header > section p {
    font-size: 14px;
    width: 70%;
    text-align: justify;
  }
  .home_header > section p span {
    font-size: 14px;
    font-weight: 400;
    color: hotpink;
    text-transform: uppercase;
  }
  .home_about {
    background-color: #FCEEF3;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    align-items: center;
  }
  .home_about > article {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
  }
  .home_about > article h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
  }
  .home_about > article span {
    width: 20%;
    color: #F297B3;
    height: 1vh;
    background-color: #F297B3;
    border: 1vh solid #F297B3;
    border-radius: 10px;
  }
  .home_about > section {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;
  }
  .home_about > section > figure {
    background-color: #FBDFE6;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }
  .home_about > section a {
    position: relative;
    width: 30vh;
    height: 30vh;
    transition: 0.4s;
  }
  .home_about > section aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .home_about > section a:hover > aside {
    position: absolute;
    background-color: rgba(255, 105, 180, 0.5);
    color: yellow;
  }
  .home_about > section figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
  }
  .home_about > section h4 {
    font-size: 20px;
    font-weight: 700;
  }
  .home_about > section p {
    font-size: 14px;
    font-weight: 300;
    color: dimgray;
  }
  .home_about > section img {
    width: 30vh;
    height: 30vh;
    position: absolute;
    border-radius: 50%;
  }
  .home_map {
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    align-items: center;
  }
  .home_map > article {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
  }
  .home_map > article h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
  }
  .home_map > article span {
    width: 20%;
    color: #F297B3;
    height: 1vh;
    background-color: #F297B3;
    border: 1vh solid #F297B3;
    border-radius: 10px;
  }
  .home_map figure {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
  }
  .home_map figure section {
    width: 100%;
    height: 40vh;
    padding: 1%;
    border: 1px solid lightgray;
  }
  .home_map figure iframe {
    width: 100%;
    height: 100%;
  }
  .home_map figure figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  .home_map figure p {
    color: dimgray;
    font-size: 16px;
    font-weight: 400;
  }
  .home_map figure span {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    align-items: center;
    color: #F297B3;
    font-size: 14px;
    font-weight: 300;
  }
  .home_map figure a {
    color: hotpink;
    font-size: 14px;
    font-weight: 500;
  }
  .home_map figure a:hover {
    color: royalblue;
    text-decoration: underline;
  }
  .home_contact {
    background-color: #FCEEF3;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    align-items: center;
  }
  .home_contact > article {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
  }
  .home_contact > article h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
  }
  .home_contact > article span {
    width: 20%;
    color: #F297B3;
    height: 1vh;
    background-color: #F297B3;
    border: 1vh solid #F297B3;
    border-radius: 10px;
  }
  .home_contact > form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    row-gap: 2vh;
  }
  .home_contact > form aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vh;
  }
  .home_contact > form label {
    color: dimgray;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
  }
  .home_contact > form input {
    border: 1px lightgray solid;
    padding: 1%;
  }
  .home_contact > form textarea {
    border: 1px lightgray solid;
    height: 20vh;
    resize: none;
    padding: 1%;
  }
  .home_contact > form > aside:last-child > input {
    background-color: #F297B3;
    color: whitesmoke;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    width: 20%;
    padding: 2%;
    border: none;
  }
  .home_contact > form > aside:last-child > input:hover {
    background-color: #62B3D1;
    color: whitesmoke;
  }
  .home_contact > form ::-moz-placeholder {
    font-size: 12px;
    font-weight: 300;
    color: lightgray;
  }
  .home_contact > form :-ms-input-placeholder {
    font-size: 12px;
    font-weight: 300;
    color: lightgray;
  }
  .home_contact > form ::placeholder {
    font-size: 12px;
    font-weight: 300;
    color: lightgray;
  }
  .home_contact > form aside:first-child {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .home_contact > form blockquote {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 2.2vh;
         column-gap: 2.2vh;
  }
  .home_contact > form blockquote > span {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 0.3vh;
         column-gap: 0.3vh;
    font-size: 14px;
    font-weight: 300;
    color: dimgray;
    text-transform: uppercase;
  }
  .home_footer {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    padding: 2%;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  .home_footer p {
    font-size: 12px;
    font-weight: 300;
    color: whitesmoke;
    text-align: center;
  }
  .home_footer p > a {
    color: royalblue;
    font-weight: 500;
    font-size: 14px;
  }
  .home_footer p > a:hover {
    text-decoration: underline;
    color: yellow;
  }
  .home_footer blockquote {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .home_footer blockquote > a {
    font-size: 22px;
    border-radius: 50%;
    border: 3px solid #F5B9C9;
    width: 6vh;
    height: 6vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #F5B9C9;
  }
  .home_footer blockquote > a:hover {
    background-color: #F5B9C9;
    color: whitesmoke;
  }
}
@media (min-width: 200px) {
  header img {
    height: 50vh;
    border: 10px solid rebeccapurple;
  }
}
@media (min-width: 200px) {
  .w-100 {
    height: 50vh !important;
  }
}
@media (min-width: 600px) and (min-width: 600px) {
  .home_nav > details {
    display: none;
  }
  .home_nav {
    align-items: center;
    height: 13vh;
  }
  .home_nav section {
    height: 5vh;
  }
  .home_nav > ul {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 8vh;
  }
  .home_nav li {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .home_nav a {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    background-color: rgba(245, 185, 201, 0.2);
    color: hotpink;
    width: 100%;
    padding: 3%;
    text-align: center;
    border-radius: 20px;
    transition: 0.4s;
  }
  .home_nav a:hover {
    background-color: #F297B3;
    color: white;
    border-radius: 20px;
  }
  .home_nav h2 {
    font-size: 20px;
  }
  .home_header {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }
  .home_header > section h1 {
    font-size: 36px;
  }
  .home_header > section p {
    font-size: 20px;
  }
  .home_about {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2%;
    padding-right: 2%;
  }
  .home_about > article h3 {
    font-size: 36px;
  }
  .home_about > article span {
    width: 15vh;
  }
  .home_about > section h5, .home_about > section small {
    font-size: 30px;
  }
  .home_about > section small {
    color: black;
    font-weight: 600;
  }
  .home_about > section figcaption h4 {
    font-size: 30px;
  }
  .home_about > section figcaption p {
    font-size: 20px;
  }
  .home_map {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2%;
    padding-right: 2%;
  }
  .home_map > article h3 {
    font-size: 36px;
  }
  .home_map > article span {
    width: 15vh;
  }
  .home_map figure {
    width: 90%;
  }
  .home_map figcaption {
    width: 100%;
  }
  .home_map figcaption p, .home_map figcaption span, .home_map figcaption a {
    font-size: 20px;
  }
  .home_contact {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2%;
    padding-right: 2%;
  }
  .home_contact > article h3 {
    font-size: 36px;
  }
  .home_contact > article span {
    width: 15vh;
  }
  .home_contact form label {
    font-size: 25px;
  }
  .home_contact form strong {
    font-size: 22px;
  }
  .home_contact form ::-moz-placeholder {
    font-size: 20px;
  }
  .home_contact form :-ms-input-placeholder {
    font-size: 20px;
  }
  .home_contact form ::placeholder {
    font-size: 20px;
  }
  .home_contact form > aside:last-child > input {
    font-size: 23px;
    padding: 1%;
  }
  .home_footer p, .home_footer p > a {
    font-size: 25px;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  .home_header {
    -webkit-animation-name: unset;
            animation-name: unset;
  }
  .home_nav {
    height: 26vh;
  }
  .home_nav section {
    height: 10vh;
  }
  .home_nav ul {
    height: 16vh;
  }
  .home_nav a {
    padding: 1%;
  }
  .home_header {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    background-position: center;
  }
  .home_header > section {
    background-color: rgba(244, 219, 232, 0.7);
    justify-content: center;
  }
  .home_about {
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
  }
  .home_about > article h3 {
    font-size: 26px;
  }
  .home_about > article span {
    width: 20vh;
  }
  .home_about > section {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .home_about > section > figure {
    width: 100%;
    height: 60vh;
    padding: 1%;
  }
  .home_about > section figcaption h4 {
    font-size: 26px;
  }
  .home_about > section figcaption p {
    font-size: 16px;
  }
  .home_about > section h5, .home_about > section small {
    font-size: 26px;
  }
  .home_map {
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
  }
  .home_map > article h3 {
    font-size: 26px;
  }
  .home_map > article span {
    width: 20vh;
  }
  .home_map figure {
    width: 100%;
  }
  .home_map figure section {
    width: 100%;
    height: 80vh;
  }
  .home_map figure figcaption {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
  }
  .home_contact {
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
  }
  .home_contact > article h3 {
    font-size: 26px;
  }
  .home_contact > article span {
    width: 20vh;
  }
  .home_contact form {
    justify-content: space-between;
    row-gap: 4vh;
  }
  .home_contact form label {
    font-size: 18px;
  }
  .home_contact form aside {
    width: 49%;
  }
  .home_contact form aside:first-child,
.home_contact form aside:nth-child(4),
.home_contact form aside:last-child {
    width: 100%;
  }
  .home_contact form textarea {
    height: 30vh;
  }
  .home_contact form strong {
    font-size: 16px;
  }
  .home_contact form ::-moz-placeholder {
    font-size: 16px;
  }
  .home_contact form :-ms-input-placeholder {
    font-size: 16px;
  }
  .home_contact form ::placeholder {
    font-size: 16px;
  }
  .home_contact form > aside:last-child > input {
    font-size: 18px;
    padding: 1%;
    width: 16%;
  }
  .home_footer {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    justify-content: space-evenly;
  }
  .home_footer p, .home_footer p > a {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */