@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1, h2, h3, h4,
h5, h6, ul, figure,
blockquote, p {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes bts-color {
  0% {
    background-color: #FCEEF3;
  }
  25% {
    background-color: #FBDFE6;
  }
  50% {
    background-color: #F5B9C9;
  }
  75% {
    background-color: #F297B3;
  }
  100% {
    background-color: hotpink;
  }
}

@keyframes bts-color {
  0% {
    background-color: #FCEEF3;
  }
  25% {
    background-color: #FBDFE6;
  }
  50% {
    background-color: #F5B9C9;
  }
  75% {
    background-color: #F297B3;
  }
  100% {
    background-color: hotpink;
  }
}
@-webkit-keyframes bts-op {
  from {
    transform: scale(0.98);
  }
  to {
    transform: scale(1);
  }
  from {
    transform: rotate(-8deg);
  }
  to {
    transform: rotate(8deg);
  }
}
@keyframes bts-op {
  from {
    transform: scale(0.98);
  }
  to {
    transform: scale(1);
  }
  from {
    transform: rotate(-8deg);
  }
  to {
    transform: rotate(8deg);
  }
}
.nav_ani {
  -webkit-animation-name: bts-color;
          animation-name: bts-color;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.home_header {
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

@media (min-width: 200px) and (min-width: 200px) {
  .home_nav {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: 16vh;
  }
  .home_nav > ul {
    display: none;
  }
  .home_nav > section {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    justify-content: center;
    align-items: center;
    background-color: #FBDFE6;
    height: 8vh;
    width: 100%;
  }
  .home_nav img {
    width: 3vh;
    height: 3vh;
    border: 3px #F297B3 solid;
    border-radius: 50%;
  }
  .home_nav figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_nav h2 {
    font-size: 14px;
  }
  .home_nav details {
    position: fixed;
    text-align: right;
    width: 98%;
    z-index: 1;
    padding-top: 8vh;
    padding-right: 1%;
    height: 8vh;
  }
  .home_nav summary {
    font-size: 28px;
    color: #F297B3;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
  }
  .home_nav details > ul {
    position: fixed;
    width: 98%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .home_nav details > ul li {
    display: flex;
    width: 100%;
    border-bottom: 1px whitesmoke solid;
    border-right: 1px whitesmoke solid;
    background-color: rgba(50, 50, 50, 0.4);
    border-radius: 4px;
  }
  .home_nav details > ul a {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 2%;
    color: whitesmoke;
  }
  .home_nav details > ul a:hover {
    background-color: #FCEEF3;
    color: #F297B3;
  }
  .home_header {
    display: flex;
    background-image: url("/img/bg-header.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    justify-content: center;
    align-items: center;
  }
  .home_header > section {
    background-color: rgba(244, 219, 232, 0.5);
    border-radius: 20px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    justify-content: flex-end;
  }
  .home_header > section h1 {
    font-size: 26px;
    font-weight: 600;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0;
    padding-right: 0;
    width: 70%;
    text-align: center;
  }
  .home_header > section p {
    font-size: 14px;
    width: 70%;
    text-align: justify;
  }
  .home_header > section p span {
    font-size: 14px;
    font-weight: 400;
    color: hotpink;
    text-transform: uppercase;
  }
  .home_about {
    background-color: #FCEEF3;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    align-items: center;
  }
  .home_about > article {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
  }
  .home_about > article h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
  }
  .home_about > article span {
    width: 20%;
    color: #F297B3;
    height: 1vh;
    background-color: #F297B3;
    border: 1vh solid #F297B3;
    border-radius: 10px;
  }
  .home_about > section {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;
  }
  .home_about > section > figure {
    background-color: #FBDFE6;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }
  .home_about > section a {
    position: relative;
    width: 30vh;
    height: 30vh;
    transition: 0.4s;
  }
  .home_about > section aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .home_about > section a:hover > aside {
    position: absolute;
    background-color: rgba(255, 105, 180, 0.5);
    color: yellow;
  }
  .home_about > section figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
  }
  .home_about > section h4 {
    font-size: 20px;
    font-weight: 700;
  }
  .home_about > section p {
    font-size: 14px;
    font-weight: 300;
    color: dimgray;
  }
  .home_about > section img {
    width: 30vh;
    height: 30vh;
    position: absolute;
    border-radius: 50%;
  }
  .home_map {
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    align-items: center;
  }
  .home_map > article {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
  }
  .home_map > article h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
  }
  .home_map > article span {
    width: 20%;
    color: #F297B3;
    height: 1vh;
    background-color: #F297B3;
    border: 1vh solid #F297B3;
    border-radius: 10px;
  }
  .home_map figure {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
  }
  .home_map figure section {
    width: 100%;
    height: 40vh;
    padding: 1%;
    border: 1px solid lightgray;
  }
  .home_map figure iframe {
    width: 100%;
    height: 100%;
  }
  .home_map figure figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  .home_map figure p {
    color: dimgray;
    font-size: 16px;
    font-weight: 400;
  }
  .home_map figure span {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    align-items: center;
    color: #F297B3;
    font-size: 14px;
    font-weight: 300;
  }
  .home_map figure a {
    color: hotpink;
    font-size: 14px;
    font-weight: 500;
  }
  .home_map figure a:hover {
    color: royalblue;
    text-decoration: underline;
  }
  .home_contact {
    background-color: #FCEEF3;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    align-items: center;
  }
  .home_contact > article {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
  }
  .home_contact > article h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
  }
  .home_contact > article span {
    width: 20%;
    color: #F297B3;
    height: 1vh;
    background-color: #F297B3;
    border: 1vh solid #F297B3;
    border-radius: 10px;
  }
  .home_contact > form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    row-gap: 2vh;
  }
  .home_contact > form aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vh;
  }
  .home_contact > form label {
    color: dimgray;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
  }
  .home_contact > form input {
    border: 1px lightgray solid;
    padding: 1%;
  }
  .home_contact > form textarea {
    border: 1px lightgray solid;
    height: 20vh;
    resize: none;
    padding: 1%;
  }
  .home_contact > form > aside:last-child > input {
    background-color: #F297B3;
    color: whitesmoke;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    width: 20%;
    padding: 2%;
    border: none;
  }
  .home_contact > form > aside:last-child > input:hover {
    background-color: #62B3D1;
    color: whitesmoke;
  }
  .home_contact > form ::-moz-placeholder {
    font-size: 12px;
    font-weight: 300;
    color: lightgray;
  }
  .home_contact > form :-ms-input-placeholder {
    font-size: 12px;
    font-weight: 300;
    color: lightgray;
  }
  .home_contact > form ::placeholder {
    font-size: 12px;
    font-weight: 300;
    color: lightgray;
  }
  .home_contact > form aside:first-child {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .home_contact > form blockquote {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 2.2vh;
         column-gap: 2.2vh;
  }
  .home_contact > form blockquote > span {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 0.3vh;
         column-gap: 0.3vh;
    font-size: 14px;
    font-weight: 300;
    color: dimgray;
    text-transform: uppercase;
  }
  .home_footer {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    padding: 2%;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  .home_footer p {
    font-size: 12px;
    font-weight: 300;
    color: whitesmoke;
    text-align: center;
  }
  .home_footer p > a {
    color: royalblue;
    font-weight: 500;
    font-size: 14px;
  }
  .home_footer p > a:hover {
    text-decoration: underline;
    color: yellow;
  }
  .home_footer blockquote {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .home_footer blockquote > a {
    font-size: 22px;
    border-radius: 50%;
    border: 3px solid #F5B9C9;
    width: 6vh;
    height: 6vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #F5B9C9;
  }
  .home_footer blockquote > a:hover {
    background-color: #F5B9C9;
    color: whitesmoke;
  }
}
@media (min-width: 200px) {
  .kfilm_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2%;
  }
  .kfilm_nav > figure {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 0.5vh;
         column-gap: 0.5vh;
    align-items: center;
  }
  .kfilm_nav h1 {
    text-transform: uppercase;
    font-size: 24px;
    color: royalblue;
    font-weight: 700;
  }
  .kfilm_nav img {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: 3px black solid;
  }
  .kfilm_nav > ul {
    display: none;
  }
  .kfilm_nav details > summary {
    font-size: 24px;
    color: royalblue;
  }
  .kfilm_nav details {
    position: fixed;
    width: 96%;
    text-align: right;
    z-index: 1;
  }
  .kfilm_nav details > ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 96%;
    text-align: right;
    z-index: 1;
  }
  .kfilm_nav details li {
    display: flex;
    width: 100%;
  }
  .kfilm_nav details a {
    width: 100%;
    background-color: rgba(30, 30, 30, 0.8);
    color: royalblue;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1%;
  }
  .kfilm_nav details a:hover {
    background-color: royalblue;
    color: white;
  }
}
@media (min-width: 200px) {
  .kfilm_header {
    display: flex;
    flex-direction: column;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-image: url(/img/header_kfilm.jpg);
    align-items: flex-end;
  }
  .kfilm_header aside {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    width: 100%;
    height: 4vh;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top: 1px royalblue dotted;
    border-bottom: 1px royalblue dotted;
  }
  .kfilm_header aside > a {
    font-size: 9px;
    font-weight: 600;
    color: white;
    border: 1px royalblue solid;
    border-radius: 20px;
    background-color: royalblue;
    padding-left: 1%;
    padding-right: 1%;
  }
  .kfilm_header aside > a:hover {
    background-color: white;
    color: royalblue;
  }
  .kfilm_header > article {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 46vh;
    background-color: rgba(30, 30, 30, 0.75);
    color: whitesmoke;
  }
  .kfilm_header > article h2 {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    width: 80%;
  }
  .kfilm_header > article p {
    width: 80%;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
  }
}
@media (min-width: 200px) {
  .kfilm_main {
    padding-top: 5vh;
    padding-left: 2%;
    padding-right: 2%;
  }
  .kfilm_main > section {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .kfilm_main > section > article {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1%;
         column-gap: 1%;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .kfilm_main > section > article > span {
    width: 1.5vh;
    height: 1.5vh;
    background-color: #7CC4DC;
    border: 1px solid #7CC4DC;
    border-radius: 1px;
  }
  .kfilm_main > section > article h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (min-width: 200px) {
  .kfilm_intro > section {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .kfilm_intro h4 {
    font-size: 16px;
    font-weight: 500;
    border-bottom: 3px double black;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .kfilm_intro .kfilm_intro_left {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .kfilm_intro .kfilm_intro_left img {
    width: 24vh;
    height: 24vh;
    border: 1px solid lightgray;
    padding: 0.5%;
    float: left;
    margin-right: 2vh;
  }
  .kfilm_intro .kfilm_intro_left figure:last-child img {
    float: right;
    margin-left: 2vh;
  }
  .kfilm_intro .kfilm_intro_left figure {
    background-color: rgb(247, 249, 250);
    padding: 1%;
  }
  .kfilm_intro .kfilm_intro_left p {
    font-size: 14px;
    font-weight: 400;
  }
  .kfilm_intro .kfilm_intro_left span {
    font-size: 16px;
    font-weight: 500;
    color: blue;
    text-decoration: underline;
  }
  .kfilm_intro .kfilm_intro_left aside {
    display: flex;
    justify-content: right;
    padding: 2%;
  }
  .kfilm_intro .kfilm_intro_left a {
    font-size: 12px;
    font-weight: 500;
    background-color: #7CC4DC;
    color: whitesmoke;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .kfilm_intro .kfilm_intro_left a:hover {
    background-color: blue;
    color: yellow;
  }
  .kfilm_intro .kfilm_intro_right {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .kfilm_intro .kfilm_intro_right blockquote {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    background-color: rgb(247, 249, 250);
    padding: 4%;
  }
  .kfilm_intro .kfilm_intro_right blockquote h5 {
    font-size: 14px;
    font-weight: 500;
    background-color: gainsboro;
    width: 100%;
    border-radius: 7px;
    text-align: center;
  }
  .kfilm_intro .kfilm_intro_right blockquote span {
    background-color: #9ED6E7;
    border-radius: 7px;
    display: flex;
    justify-content: center;
  }
  .kfilm_intro .kfilm_intro_right blockquote h5:first-child span {
    width: 90%;
  }
  .kfilm_intro .kfilm_intro_right blockquote h5:nth-child(2) span {
    width: 75%;
  }
  .kfilm_intro .kfilm_intro_right blockquote h5:nth-child(3) span {
    width: 85%;
  }
  .kfilm_intro .kfilm_intro_right blockquote h5:last-child span {
    width: 95%;
  }
}
@media (min-width: 200px) {
  .kfilm_artist > section {
    width: 100%;
    height: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: aliceblue;
  }
  .kfilm_artist table {
    width: 100%;
  }
  .kfilm_artist table small {
    display: none;
    background-color: rgba(0, 0, 255, 0.4);
    border: 4px blue solid;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: white;
  }
  .kfilm_artist table td {
    border: 3px aliceblue solid;
  }
  .kfilm_artist table .r1d1, .kfilm_artist table .r2d2 {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 40%;
  }
  .kfilm_artist table td:hover small {
    display: flex;
  }
  .kfilm_artist table .r1d2, .kfilm_artist table .r1d3, .kfilm_artist table .r1d4, .kfilm_artist table .r2d1, .kfilm_artist table .r3d1, .kfilm_artist table .r3d2, .kfilm_artist table .r3d3 {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    width: 20%;
  }
  .kfilm_artist table .r1d1 {
    background-image: url("/img/kfilm_star1.jpg");
  }
  .kfilm_artist table .r1d2 {
    background-image: url("/img/kfilm_star2.jpg");
  }
  .kfilm_artist table .r1d3 {
    background-image: url("/img/kfilm_star3.jpg");
  }
  .kfilm_artist table .r1d4 {
    background-image: url("/img/kfilm_star5.jpg");
  }
  .kfilm_artist table .r2d1 {
    background-image: url("/img/kfilm_star6.jpg");
  }
  .kfilm_artist table .r2d2 {
    background-image: url("/img/kfilm_star4.jpg");
  }
  .kfilm_artist table .r3d1 {
    background-image: url("/img/kfilm_star7.jpg");
  }
  .kfilm_artist table .r3d2 {
    background-image: url("/img/kfilm_star8.jpg");
  }
  .kfilm_artist table .r3d3 {
    background-image: url("/img/kfilm_star9.jpg");
  }
}
@media (min-width: 200px) {
  .kfilm_director > section {
    width: 100%;
    height: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .kfilm_director > section > figure {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    justify-content: center;
    align-items: center;
  }
  .kfilm_director > section > figure img {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    border: 5px solid #C9EAF3;
    position: absolute;
  }
  .kfilm_director > section > figure a {
    position: relative;
    height: 30vh;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .kfilm_director > section > figure a:hover > aside {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.6);
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    border: 5px dimgray solid;
  }
  .kfilm_director > section > figure a:hover i {
    background-color: gray;
    color: whitesmoke;
    font-size: 18px;
    width: 4vh;
    height: 4vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(50, 50, 50, 0.8);
  }
  .kfilm_director > section > figure a:hover i:hover {
    color: yellow;
    font-size: 20px;
  }
  .kfilm_director > section > figure figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .kfilm_director > section > figure small {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: royalblue;
  }
  .kfilm_director > section > figure p {
    font-size: 12px;
    font-weight: 300;
    color: #62B3D1;
    width: 50%;
    text-align: justify;
  }
}
@media (min-width: 200px) {
  .kfilm_movie > section {
    height: 60vh;
  }
  .kfilm_movie img {
    width: 100%;
    height: 60vh;
  }
  .kfilm_movie .carousel-indicators > button {
    border: royalblue 2px solid;
    width: 50px;
    height: 5px;
    background-color: royalblue;
    border-radius: 4px;
  }
  .kfilm_movie .carousel slide > button {
    border: royalblue 2px solid;
    width: 50px;
    height: 5px;
    background-color: royalblue;
    border-radius: 4px;
  }
  .kfilm_movie span {
    border: royalblue 3px solid;
    background-color: royalblue;
    border-radius: 50%;
  }
  .kfilm_movie span:hover {
    border: white 2px solid;
  }
}
@media (min-width: 200px) {
  .kfilm_drama img {
    width: 100%;
    height: 50vh;
  }
  .kfilm_drama blockquote {
    font-size: 14px;
    background-color: aliceblue;
  }
  .kfilm_drama > section {
    width: 100%;
  }
}
@media (min-width: 200px) {
  .kfilm_footer {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: flex-end;
  }
  .kfilm_footer > section {
    background-color: royalblue;
    color: whitesmoke;
    padding: 2%;
    font-size: 12px;
    width: 100%;
  }
  .kfilm_footer > section p:first-child {
    text-align: right;
  }
  .kfilm_footer > section p:first-child a {
    color: gold;
    font-weight: 500;
  }
  .kfilm_footer > section p:first-child a:hover {
    color: blue;
    text-decoration: underline;
  }
  .kfilm_footer > section p:nth-child(2) {
    text-align: center;
  }
  .kfilm_footer > section blockquote {
    display: flex;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    justify-content: flex-end;
  }
  .kfilm_footer > section blockquote a {
    border: 2px solid yellow;
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .kfilm_footer > section blockquote a:hover {
    background-color: yellow;
  }
  .kfilm_footer > section blockquote a:hover i {
    color: royalblue;
  }
  .kfilm_footer > section blockquote i {
    color: yellow;
    font-size: 12px;
  }
  .kfilm_footer > article {
    border: 3px royalblue solid;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 1vh;
  }
  .kfilm_footer > article a {
    display: flex;
    flex-direction: column;
  }
  .kfilm_footer > article a span {
    color: royalblue;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
  }
  .kfilm_footer > article a i {
    color: royalblue;
    font-size: 16px;
  }
  .kfilm_footer > article a:hover {
    background-color: royalblue;
  }
  .kfilm_footer > article a:hover span, .kfilm_footer > article a:hover i {
    color: yellow;
  }
}
@media (min-width: 600px) and (min-width: 600px) {
  .home_nav > details {
    display: none;
  }
  .home_nav {
    align-items: center;
    height: 13vh;
  }
  .home_nav section {
    height: 5vh;
  }
  .home_nav > ul {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 8vh;
  }
  .home_nav li {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .home_nav a {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    background-color: rgba(245, 185, 201, 0.2);
    color: hotpink;
    width: 100%;
    padding: 3%;
    text-align: center;
    border-radius: 20px;
    transition: 0.4s;
  }
  .home_nav a:hover {
    background-color: #F297B3;
    color: white;
    border-radius: 20px;
  }
  .home_nav h2 {
    font-size: 20px;
  }
  .home_header {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }
  .home_header > section h1 {
    font-size: 36px;
  }
  .home_header > section p {
    font-size: 20px;
  }
  .home_about {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2%;
    padding-right: 2%;
  }
  .home_about > article h3 {
    font-size: 36px;
  }
  .home_about > article span {
    width: 15vh;
  }
  .home_about > section h5, .home_about > section small {
    font-size: 30px;
  }
  .home_about > section small {
    color: black;
    font-weight: 600;
  }
  .home_about > section figcaption h4 {
    font-size: 30px;
  }
  .home_about > section figcaption p {
    font-size: 20px;
  }
  .home_map {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2%;
    padding-right: 2%;
  }
  .home_map > article h3 {
    font-size: 36px;
  }
  .home_map > article span {
    width: 15vh;
  }
  .home_map figure {
    width: 90%;
  }
  .home_map figcaption {
    width: 100%;
  }
  .home_map figcaption p, .home_map figcaption span, .home_map figcaption a {
    font-size: 20px;
  }
  .home_contact {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2%;
    padding-right: 2%;
  }
  .home_contact > article h3 {
    font-size: 36px;
  }
  .home_contact > article span {
    width: 15vh;
  }
  .home_contact form label {
    font-size: 25px;
  }
  .home_contact form strong {
    font-size: 22px;
  }
  .home_contact form ::-moz-placeholder {
    font-size: 20px;
  }
  .home_contact form :-ms-input-placeholder {
    font-size: 20px;
  }
  .home_contact form ::placeholder {
    font-size: 20px;
  }
  .home_contact form > aside:last-child > input {
    font-size: 23px;
    padding: 1%;
  }
  .home_footer p, .home_footer p > a {
    font-size: 25px;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  .home_header {
    -webkit-animation-name: unset;
            animation-name: unset;
  }
  .home_nav {
    height: 26vh;
  }
  .home_nav section {
    height: 10vh;
  }
  .home_nav ul {
    height: 16vh;
  }
  .home_nav a {
    padding: 1%;
  }
  .home_header {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    background-position: center;
  }
  .home_header > section {
    background-color: rgba(244, 219, 232, 0.7);
    justify-content: center;
  }
  .home_about {
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
  }
  .home_about > article h3 {
    font-size: 26px;
  }
  .home_about > article span {
    width: 20vh;
  }
  .home_about > section {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .home_about > section > figure {
    width: 100%;
    height: 60vh;
    padding: 1%;
  }
  .home_about > section figcaption h4 {
    font-size: 26px;
  }
  .home_about > section figcaption p {
    font-size: 16px;
  }
  .home_about > section h5, .home_about > section small {
    font-size: 26px;
  }
  .home_map {
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
  }
  .home_map > article h3 {
    font-size: 26px;
  }
  .home_map > article span {
    width: 20vh;
  }
  .home_map figure {
    width: 100%;
  }
  .home_map figure section {
    width: 100%;
    height: 80vh;
  }
  .home_map figure figcaption {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
  }
  .home_contact {
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
  }
  .home_contact > article h3 {
    font-size: 26px;
  }
  .home_contact > article span {
    width: 20vh;
  }
  .home_contact form {
    justify-content: space-between;
    row-gap: 4vh;
  }
  .home_contact form label {
    font-size: 18px;
  }
  .home_contact form aside {
    width: 49%;
  }
  .home_contact form aside:first-child,
.home_contact form aside:nth-child(4),
.home_contact form aside:last-child {
    width: 100%;
  }
  .home_contact form textarea {
    height: 30vh;
  }
  .home_contact form strong {
    font-size: 16px;
  }
  .home_contact form ::-moz-placeholder {
    font-size: 16px;
  }
  .home_contact form :-ms-input-placeholder {
    font-size: 16px;
  }
  .home_contact form ::placeholder {
    font-size: 16px;
  }
  .home_contact form > aside:last-child > input {
    font-size: 18px;
    padding: 1%;
    width: 16%;
  }
  .home_footer {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    justify-content: space-evenly;
  }
  .home_footer p, .home_footer p > a {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */