@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1, h2, h3, h4,
h5, h6, ul, figure,
blockquote, p {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes bts-color {
  0% {
    border-top: 10px solid #FCEEF3;
  }
  25% {
    border-top: 10px solid #FBDFE6;
  }
  50% {
    border-top: 10px solid #F5B9C9;
  }
  75% {
    border-top: 10px solid #F297B3;
  }
  100% {
    border-top: 10px solid hotpink;
  }
}

@keyframes bts-color {
  0% {
    border-top: 10px solid #FCEEF3;
  }
  25% {
    border-top: 10px solid #FBDFE6;
  }
  50% {
    border-top: 10px solid #F5B9C9;
  }
  75% {
    border-top: 10px solid #F297B3;
  }
  100% {
    border-top: 10px solid hotpink;
  }
}
@-webkit-keyframes kfilm-color {
  0% {
    border-top: 4px solid #C9EAF3;
  }
  25% {
    border-top: 4px solid #9ED6E7;
  }
  50% {
    border-top: 4px solid #7CC4DC;
  }
  75% {
    border-top: 4px solid #62B3D1;
  }
  100% {
    border-top: 4px solid royalblue;
  }
}
@keyframes kfilm-color {
  0% {
    border-top: 4px solid #C9EAF3;
  }
  25% {
    border-top: 4px solid #9ED6E7;
  }
  50% {
    border-top: 4px solid #7CC4DC;
  }
  75% {
    border-top: 4px solid #62B3D1;
  }
  100% {
    border-top: 4px solid royalblue;
  }
}
@-webkit-keyframes kpop-color {
  0% {
    border-top: 4px solid #f3f7f5;
  }
  25% {
    border-top: 4px solid yellowgreen;
  }
  50% {
    border-top: 4px solid #1c583f;
  }
  75% {
    border-top: 4px solid green;
  }
  100% {
    border-top: 4px solid forestgreen;
  }
}
@keyframes kpop-color {
  0% {
    border-top: 4px solid #f3f7f5;
  }
  25% {
    border-top: 4px solid yellowgreen;
  }
  50% {
    border-top: 4px solid #1c583f;
  }
  75% {
    border-top: 4px solid green;
  }
  100% {
    border-top: 4px solid forestgreen;
  }
}
@-webkit-keyframes bts-op {
  from {
    transform: scale(1) rotate(-5deg);
  }
  to {
    transform: scale(0.8) rotate(5deg);
  }
}
@keyframes bts-op {
  from {
    transform: scale(1) rotate(-5deg);
  }
  to {
    transform: scale(0.8) rotate(5deg);
  }
}
.nav_ani {
  -webkit-animation-name: bts-color;
          animation-name: bts-color;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.kfilm_ani {
  -webkit-animation-name: kfilm-color;
          animation-name: kfilm-color;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.kpop_ani {
  -webkit-animation-name: kpop-color;
          animation-name: kpop-color;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.title_ani {
  -webkit-animation-name: bts-op;
          animation-name: bts-op;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@media (min-width: 200px) {
  .home_nav {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: 16vh;
    justify-content: flex-start;
  }
  .home_nav > article {
    display: none;
  }
  .home_nav > section {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100%;
  }
  .home_nav img {
    width: 3vh;
    height: 3vh;
    border: 3px dimgray solid;
    border-radius: 50%;
  }
  .home_nav figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_nav h2 {
    font-size: 14px;
  }
  .home_nav details {
    position: fixed;
    text-align: right;
    width: 98%;
    z-index: 1;
    padding-top: 8vh;
    padding-right: 1%;
    height: 8vh;
  }
  .home_nav summary {
    font-size: 28px;
    color: #F297B3;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
  }
  .home_nav details > ul {
    position: fixed;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: transparent;
  }
  .home_nav details > ul li {
    display: flex;
    width: 45%;
    border-bottom: 1px whitesmoke solid;
    border-right: 1px whitesmoke solid;
    background-color: rgba(105, 105, 105, 0.6);
    border-radius: 4px;
  }
  .home_nav details > ul a {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 2%;
    color: white;
  }
  .home_nav details > ul a:hover {
    background-color: hotpink;
    color: #FCEEF3;
  }
  .home_header {
    display: flex;
    flex-direction: column;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    background-image: url("/img/bg-header.png");
    align-items: center;
  }
  .home_header aside {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    width: 100%;
    height: 4vh;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top: 1px lightgray dotted;
    border-bottom: 1px lightgray dotted;
  }
  .home_header aside > a {
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    border: 1px hotpink solid;
    border-radius: 20px;
    background-color: hotpink;
    padding-left: 1%;
    padding-right: 1%;
  }
  .home_header aside > a:hover {
    background-color: white;
    color: hotpink;
  }
  .home_header > section {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0vh;
    align-items: center;
    justify-content: center;
  }
  .home_header > section blockquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home_header > section blockquote h1 {
    font-size: 26px;
    font-weight: 600;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0;
    padding-right: 0;
    width: 70%;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.7);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .home_header > section blockquote p {
    background-color: rgba(211, 211, 211, 0.7);
    font-size: 14px;
    color: dimgray;
    width: 70%;
    text-align: justify;
    padding: 2%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .home_header > section blockquote p span {
    font-size: 14px;
    font-weight: 500;
    color: royalblue;
    text-transform: uppercase;
  }
  .home_header > section:hover {
    background-image: url("/img/bg-header-black.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }
  .home_main > section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    align-items: center;
  }
  .home_main > section > article {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
  }
  .home_main > section > article h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
  }
  .home_main > section > article span {
    width: 10vh;
    color: #F297B3;
    height: 1vh;
    background-color: #F297B3;
    border: 1vh solid #F297B3;
    border-radius: 10px;
  }
  .home_about {
    background-color: #FCEEF3;
  }
  .home_about > section {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;
  }
  .home_about > section > figure {
    background-color: #FBDFE6;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }
  .home_about > section a {
    position: relative;
    width: 30vh;
    height: 30vh;
    transition: 0.4s;
  }
  .home_about > section aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .home_about > section a:hover > aside {
    position: absolute;
    background-color: rgba(255, 105, 180, 0.5);
    color: yellow;
  }
  .home_about > section figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
  }
  .home_about > section h4 {
    font-size: 20px;
    font-weight: 700;
  }
  .home_about > section p {
    font-size: 14px;
    font-weight: 300;
    color: dimgray;
  }
  .home_about > section img {
    width: 30vh;
    height: 30vh;
    position: absolute;
    border-radius: 50%;
  }
  .home_hit {
    background-color: white;
  }
  .home_hit > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  .home_hit > section p {
    font-size: 12px;
    text-align: center;
    width: 100%;
  }
  .home_hit > section details {
    display: flex;
  }
  .home_hit > section details summary {
    display: flex;
  }
  .home_hit > section details summary img {
    width: 100%;
    height: 20vh;
    border: 1px solid lightgray;
    padding: 1%;
  }
  .home_hit > section details ul {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    background-color: #FCEEF3;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 8%;
    padding-right: 8%;
  }
  .home_hit > section details ul li {
    display: flex;
    background-color: #FBDFE6;
  }
  .home_hit > section details ul img {
    width: 100%;
    height: 40vh;
  }
  .home_hit > section details ul figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home_hit > section details ul small {
    font-size: 22px;
    padding: 1%;
    color: hotpink;
  }
  .home_hit > section details ul p {
    font-size: 14px;
    padding: 2%;
    text-align: center;
    color: dimgray;
  }
  .home_map {
    background-color: #FCEEF3;
  }
  .home_map figure {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
  }
  .home_map figure section {
    width: 100%;
    height: 40vh;
    padding: 1%;
    border: 1px solid lightgray;
  }
  .home_map figure iframe {
    width: 100%;
    height: 100%;
  }
  .home_map figure figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  .home_map figure p {
    color: dimgray;
    font-size: 16px;
    font-weight: 400;
  }
  .home_map figure span {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    align-items: center;
    color: #F297B3;
    font-size: 14px;
    font-weight: 300;
  }
  .home_map figure a {
    color: hotpink;
    font-size: 14px;
    font-weight: 500;
  }
  .home_map figure a:hover {
    color: royalblue;
    text-decoration: underline;
  }
  .home_contact {
    background-color: white;
  }
  .home_contact > form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    row-gap: 2vh;
  }
  .home_contact > form aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vh;
  }
  .home_contact > form label {
    color: dimgray;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
  }
  .home_contact > form input {
    border: 1px lightgray solid;
    padding: 1%;
  }
  .home_contact > form textarea {
    border: 1px lightgray solid;
    height: 20vh;
    resize: none;
    padding: 1%;
  }
  .home_contact > form > aside:last-child > input {
    background-color: #F297B3;
    color: whitesmoke;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    width: 20%;
    padding: 2%;
    border: none;
  }
  .home_contact > form > aside:last-child > input:hover {
    background-color: #62B3D1;
    color: whitesmoke;
  }
  .home_contact > form ::-moz-placeholder {
    font-size: 12px;
    font-weight: 300;
    color: lightgray;
  }
  .home_contact > form :-ms-input-placeholder {
    font-size: 12px;
    font-weight: 300;
    color: lightgray;
  }
  .home_contact > form ::placeholder {
    font-size: 12px;
    font-weight: 300;
    color: lightgray;
  }
  .home_contact > form aside:first-child {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .home_contact > form blockquote {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 2.2vh;
         column-gap: 2.2vh;
  }
  .home_contact > form blockquote > span {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 0.3vh;
         column-gap: 0.3vh;
    font-size: 14px;
    font-weight: 300;
    color: dimgray;
    text-transform: uppercase;
  }
  .home_footer {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    padding: 2%;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  .home_footer p {
    font-size: 12px;
    font-weight: 300;
    color: whitesmoke;
    text-align: center;
  }
  .home_footer p > a {
    color: royalblue;
    font-weight: 500;
    font-size: 14px;
  }
  .home_footer p > a:hover {
    text-decoration: underline;
    color: yellow;
  }
  .home_footer blockquote {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .home_footer blockquote > a {
    font-size: 22px;
    border-radius: 50%;
    border: 3px solid #F5B9C9;
    width: 6vh;
    height: 6vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #F5B9C9;
  }
  .home_footer blockquote > a:hover {
    background-color: #F5B9C9;
    color: whitesmoke;
  }
  .kpopfix {
    background-color: #386150;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .kpopfix aside {
    width: 95%;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    justify-content: center;
    align-items: center;
  }
  .kpopfix a {
    color: white;
  }
  .kpopfix a :hover {
    color: black;
  }
  .kpopfix i {
    font-size: 20px;
  }
  .kpoptitlepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding-top: 3%;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    width: 90%;
    row-gap: 2vh;
  }
  .kpoptitlepage aside {
    display: flex;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .kpoptitlepage span {
    width: 90%;
    height: 1vh;
  }
  .kpoptitlepage img {
    width: 5vh;
    height: 5vh;
    border: 3px solid black;
    border-radius: 50%;
  }
  .kpoptitlepage h1 {
    color: #4A442D;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .kpopnav {
    display: flex;
    padding-left: 2%;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
  .kpopnav > article {
    display: none;
  }
  .kpopnav details {
    color: #386150;
    text-align: right;
    width: 98%;
    display: flex;
    position: fixed;
    padding-right: 1%;
    z-index: 3;
  }
  .kpopnav details summary {
    font-size: 30px;
  }
  .kpopnav details ul {
    display: flex;
    flex-direction: column;
    width: 98%;
    justify-content: center;
    align-items: center;
    position: fixed;
    align-items: flex-end;
    padding-right: 1%;
  }
  .kpopnav details li {
    display: flex;
    width: 45%;
    border-bottom: 1px whitesmoke solid;
    border-right: 1px whitesmoke solid;
    background-color: rgba(105, 105, 105, 0.6);
    border-radius: 4px;
  }
  .kpopnav details a {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 2%;
    color: white;
  }
  .kpopnav details a:hover {
    color: #386150;
    background-color: white;
  }
  .kpopheader aside {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    padding: 1%;
  }
  .kpopheader aside a {
    padding: 1%;
    color: white;
    background-color: #386150;
  }
  .w-100 {
    height: 50vh !important;
  }
  .carousel-inner h5 {
    color: black;
    font-weight: 600;
    font-size: 20px;
  }
  .carousel-inner p {
    color: white;
    font-size: 12px;
    border: 1px solid gray;
    background-color: rgba(120, 149, 137, 0.8);
    padding: 2%;
    border-radius: 10px;
  }
  .d-none {
    display: flex !important;
    flex-direction: column;
  }
  .kpopabout {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
    background-color: #4E6E58;
    padding-bottom: 5%;
    padding-top: 10%;
  }
  .kpopabout h2 {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .kpopabout h2 i {
    color: whitesmoke;
  }
  .kpopabout > span {
    width: 15vh;
    height: 1vh;
    background-color: #CDE6F5;
    display: inline-block;
    border-radius: 10px;
  }
  .kpopabout article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 2vh;
  }
  .kpopabout article span {
    color: white;
    text-transform: uppercase;
    font-style: normal;
  }
  .kpopabout article p {
    line-height: 1.5;
    font-size: 12px;
    font-style: italic;
  }
  .kpopabout article a {
    background-color: #CDE6F5;
    padding: 1%;
    color: black;
    font-size: 12px;
    width: 20%;
  }
  .kpopabout article a:hover {
    color: #554640;
    background-color: white;
  }
  .kpopcalendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
    padding-top: 10%;
    padding-bottom: 5%;
  }
  .kpopcalendar > span {
    width: 15vh;
    height: 1vh;
    background-color: #386150;
    display: inline-block;
    border-radius: 10px;
  }
  .kpopcalendar h2 {
    text-transform: uppercase;
    color: #413C58;
  }
  .kpopcalendar article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
    width: 80%;
  }
  .kpopcalendar figure {
    background-color: #CDE6F5;
    padding-bottom: 10%;
    border: 2px solid #554640;
  }
  .kpopcalendar figure img {
    width: 100%;
  }
  .kpopcalendar figure figcaption {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    row-gap: 1vh;
    width: 95%;
  }
  .kpopcalendar figure figcaption h3,
.kpopcalendar figure figcaption small,
.kpopcalendar figure figcaption p {
    width: 85%;
  }
  .kpopcalendar figure figcaption h3 {
    color: #4A442D;
    font-weight: 600;
    text-transform: uppercase;
  }
  .kpopcalendar figure figcaption small {
    font-size: 10px;
    color: #4E6E58;
  }
  .kpopartists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    row-gap: 2vh;
    background-color: #64a78b;
  }
  .kpopartists > span {
    width: 15vh;
    height: 1vh;
    background-color: white;
    border-radius: 10px;
  }
  .kpopartists h2 {
    text-transform: uppercase;
    color: whitesmoke;
  }
  .kpopartists article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    row-gap: 2vh;
  }
  .kpopartists article figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .kpopartists article figure img {
    width: 100%;
    height: 40vh;
  }
  .kpopartists article figure aside,
.kpopartists article figure figcaption {
    display: none;
  }
  .kpopartists article figure a {
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
  }
  .kpopartists article figure a:hover > blockquote {
    width: 100%;
    height: 40vh;
    display: flex;
    background-color: rgba(50, 50, 50, 0.4);
    position: absolute;
  }
  .kpopartists article figure blockquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ECEBF3;
    font-size: 18px;
    font-style: italic;
  }
  .kpopartists article figure img {
    position: absolute;
  }
  .kpoponsale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 5%;
    row-gap: 2vh;
  }
  .kpoponsale > span {
    width: 15vh;
    height: 1vh;
    background-color: #386150;
    display: inline-block;
  }
  .kpoponsale h2 {
    text-transform: uppercase;
  }
  .kpoponsale > article {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  .kpoponsale figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    background-color: cadetblue;
  }
  .kpoponsale figure img {
    height: 100%;
    width: 100%;
  }
  .kpoponsale figure a {
    height: 40vh;
    width: 100%;
  }
  .kpoponsale figure figcaption {
    text-align: center;
  }
  .kpoponsale figure figcaption small {
    color: rgb(106, 20, 5);
    text-decoration: line-through;
  }
  .kpoponsale figure figcaption p {
    font-size: 18px;
    font-weight: 600;
  }
  .kpoponsale figure h6 {
    font-size: 12px;
    color: dimgray;
    padding-bottom: 1vh;
  }
  .kpoponsale .progress {
    width: 90%;
  }
  .kpopaudition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    background-color: #64a78b;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .kpopaudition h3 {
    color: #363222;
    text-transform: uppercase;
    padding-bottom: 3vh;
  }
  .kpopaudition form {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .kpopaudition form input,
.kpopaudition form textarea {
    border: 3px solid #BFD7B5;
  }
  .kpopaudition form label, .kpopaudition form h4 {
    color: #363222;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    padding-top: 1vh;
  }
  .kpopaudition form ::-moz-placeholder {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }
  .kpopaudition form :-ms-input-placeholder {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }
  .kpopaudition form ::placeholder {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }
  .kpopaudition form textarea {
    height: 20vh;
  }
  .kpopaudition form [type=submit] {
    border: transparent;
    width: 35%;
    text-transform: uppercase;
    padding: 1%;
    font-size: 12px;
  }
  .kpopaudition form [type=submit]:hover {
    color: whitesmoke;
    background-color: #386150;
  }
  .kpopaudition form > section {
    display: flex;
    flex-direction: column;
  }
  .kpopaudition blockquote {
    width: 100%;
  }
  .kpopaudition blockquote input:last-child {
    width: 100%;
  }
  .kpopaudition blockquote ::-moz-placeholder {
    text-align: left;
    padding-left: 2%;
  }
  .kpopaudition blockquote :-ms-input-placeholder {
    text-align: left;
    padding-left: 2%;
  }
  .kpopaudition blockquote ::placeholder {
    text-align: left;
    padding-left: 2%;
  }
  footer {
    background-color: #4E6E58;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  footer p {
    width: 80%;
    color: white;
    line-height: 1.5;
    font-size: 12px;
    text-align: center;
  }
  footer > article {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 95%;
  }
  footer a {
    color: gray;
    font-weight: 600;
  }
  .kfilm_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2%;
  }
  .kfilm_nav > figure {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 0.5vh;
         column-gap: 0.5vh;
    align-items: center;
    padding-bottom: 1vh;
  }
  .kfilm_nav h1 {
    text-transform: uppercase;
    font-size: 24px;
    color: royalblue;
    font-weight: 700;
  }
  .kfilm_nav h2 {
    font-size: 14px;
    padding-top: 1vh;
  }
  .kfilm_nav img {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: 3px black solid;
  }
  .kfilm_nav > section {
    display: none;
  }
  .kfilm_nav details > summary {
    font-size: 24px;
    color: royalblue;
  }
  .kfilm_nav details {
    position: fixed;
    width: 96%;
    text-align: right;
    z-index: 1;
    padding-top: 6vh;
  }
  .kfilm_nav details > ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 96%;
    text-align: right;
    align-items: flex-end;
    z-index: 1;
    background-color: transparent;
  }
  .kfilm_nav details li {
    display: flex;
    width: 45%;
    border-bottom: 1px whitesmoke solid;
    border-right: 1px whitesmoke solid;
    background-color: rgba(105, 105, 105, 0.6);
    border-radius: 4px;
  }
  .kfilm_nav details a {
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 1%;
  }
  .kfilm_nav details a:hover {
    background-color: royalblue;
    color: white;
  }
  .kfilm_header {
    display: flex;
    flex-direction: column;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-image: url(/img/header_kfilm.jpg);
    align-items: flex-end;
  }
  .kfilm_header aside {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    width: 100%;
    height: 4vh;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top: 1px royalblue dotted;
    border-bottom: 1px royalblue dotted;
  }
  .kfilm_header aside > a {
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    border: 1px royalblue solid;
    border-radius: 20px;
    background-color: royalblue;
    padding-left: 1%;
    padding-right: 1%;
  }
  .kfilm_header aside > a:hover {
    background-color: white;
    color: royalblue;
  }
  .kfilm_header > article {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 46vh;
    background-color: rgba(30, 30, 30, 0.75);
    color: whitesmoke;
  }
  .kfilm_header > article h2 {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    width: 80%;
  }
  .kfilm_header > article p {
    width: 80%;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
  }
  .kfilm_main {
    padding-top: 5vh;
    padding-left: 2%;
    padding-right: 2%;
  }
  .kfilm_main > section {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .kfilm_main > section > article {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1%;
         column-gap: 1%;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .kfilm_main > section > article > span {
    width: 1.5vh;
    height: 1.5vh;
    background-color: #7CC4DC;
    border: 1px solid #7CC4DC;
    border-radius: 1px;
  }
  .kfilm_main > section > article h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 5%;
    padding-right: 5%;
  }
  .kfilm_intro > section {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .kfilm_intro h4 {
    font-size: 16px;
    font-weight: 500;
    border-bottom: 3px double black;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .kfilm_intro .kfilm_intro_left {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .kfilm_intro .kfilm_intro_left img {
    width: 24vh;
    height: 24vh;
    border: 1px solid lightgray;
    padding: 0.5%;
    float: left;
    margin-right: 2vh;
  }
  .kfilm_intro .kfilm_intro_left figure:last-child img {
    float: right;
    margin-left: 2vh;
  }
  .kfilm_intro .kfilm_intro_left figure {
    background-color: rgb(247, 249, 250);
    padding: 1%;
  }
  .kfilm_intro .kfilm_intro_left p {
    font-size: 14px;
    font-weight: 400;
  }
  .kfilm_intro .kfilm_intro_left span {
    font-size: 16px;
    font-weight: 500;
    color: blue;
    text-decoration: underline;
  }
  .kfilm_intro .kfilm_intro_left aside {
    display: flex;
    justify-content: right;
    padding: 2%;
  }
  .kfilm_intro .kfilm_intro_left a {
    font-size: 12px;
    font-weight: 500;
    background-color: #7CC4DC;
    color: whitesmoke;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .kfilm_intro .kfilm_intro_left a:hover {
    background-color: blue;
    color: yellow;
  }
  .kfilm_intro .kfilm_intro_right {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .kfilm_intro .kfilm_intro_right blockquote {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    background-color: rgb(247, 249, 250);
    padding: 4%;
  }
  .kfilm_intro .kfilm_intro_right blockquote h5 {
    font-size: 14px;
    font-weight: 500;
    background-color: gainsboro;
    width: 100%;
    border-radius: 7px;
    text-align: center;
  }
  .kfilm_intro .kfilm_intro_right blockquote span {
    background-color: #9ED6E7;
    border-radius: 7px;
    display: flex;
    justify-content: center;
  }
  .kfilm_intro .kfilm_intro_right blockquote h5:first-child span {
    width: 90%;
  }
  .kfilm_intro .kfilm_intro_right blockquote h5:nth-child(2) span {
    width: 75%;
  }
  .kfilm_intro .kfilm_intro_right blockquote h5:nth-child(3) span {
    width: 85%;
  }
  .kfilm_intro .kfilm_intro_right blockquote h5:last-child span {
    width: 95%;
  }
  .kfilm_artist > section {
    width: 100%;
    height: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: aliceblue;
  }
  .kfilm_artist table {
    width: 100%;
  }
  .kfilm_artist table small {
    display: none;
    background-color: rgba(0, 0, 255, 0.4);
    border: 4px blue solid;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: white;
  }
  .kfilm_artist table td {
    border: 3px aliceblue solid;
  }
  .kfilm_artist table .r1d1, .kfilm_artist table .r2d2 {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 40%;
  }
  .kfilm_artist table td:hover small {
    display: flex;
  }
  .kfilm_artist table .r1d2, .kfilm_artist table .r1d3, .kfilm_artist table .r1d4, .kfilm_artist table .r2d1, .kfilm_artist table .r3d1, .kfilm_artist table .r3d2, .kfilm_artist table .r3d3 {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    width: 20%;
  }
  .kfilm_artist table .r1d1 {
    background-image: url("/img/kfilm_star1.jpg");
  }
  .kfilm_artist table .r1d2 {
    background-image: url("/img/kfilm_star2.jpg");
  }
  .kfilm_artist table .r1d3 {
    background-image: url("/img/kfilm_star3.jpg");
  }
  .kfilm_artist table .r1d4 {
    background-image: url("/img/kfilm_star5.jpg");
  }
  .kfilm_artist table .r2d1 {
    background-image: url("/img/kfilm_star6.jpg");
  }
  .kfilm_artist table .r2d2 {
    background-image: url("/img/kfilm_star4.jpg");
  }
  .kfilm_artist table .r3d1 {
    background-image: url("/img/kfilm_star7.jpg");
  }
  .kfilm_artist table .r3d2 {
    background-image: url("/img/kfilm_star8.jpg");
  }
  .kfilm_artist table .r3d3 {
    background-image: url("/img/kfilm_star9.jpg");
  }
  .kfilm_director > section {
    width: 100%;
    height: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .kfilm_director > section > figure {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    justify-content: center;
    align-items: center;
  }
  .kfilm_director > section > figure img {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    border: 5px solid #C9EAF3;
    position: absolute;
  }
  .kfilm_director > section > figure a {
    position: relative;
    height: 30vh;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .kfilm_director > section > figure a:hover > aside {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.6);
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    border: 5px dimgray solid;
  }
  .kfilm_director > section > figure a:hover i {
    background-color: gray;
    color: whitesmoke;
    font-size: 18px;
    width: 4vh;
    height: 4vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(50, 50, 50, 0.8);
  }
  .kfilm_director > section > figure a:hover i:hover {
    color: yellow;
    font-size: 20px;
  }
  .kfilm_director > section > figure figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .kfilm_director > section > figure small {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: royalblue;
  }
  .kfilm_director > section > figure p {
    font-size: 12px;
    font-weight: 300;
    color: #62B3D1;
    width: 50%;
    text-align: justify;
  }
  .kfilm_movie > section {
    height: 60vh;
  }
  .kfilm_movie img {
    width: 100%;
    height: 60vh;
  }
  .kfilm_movie .carousel-indicators > button {
    border: royalblue 2px solid;
    width: 50px;
    height: 5px;
    background-color: royalblue;
    border-radius: 4px;
  }
  .kfilm_movie .carousel slide > button {
    border: royalblue 2px solid;
    width: 50px;
    height: 5px;
    background-color: royalblue;
    border-radius: 4px;
  }
  .kfilm_movie span {
    border: royalblue 3px solid;
    background-color: royalblue;
    border-radius: 50%;
  }
  .kfilm_movie span:hover {
    border: white 2px solid;
  }
  .kfilm_drama img {
    width: 100%;
    height: 50vh;
  }
  .kfilm_drama blockquote {
    font-size: 14px;
    background-color: aliceblue;
  }
  .kfilm_drama > section {
    width: 100%;
  }
  .kfilm_footer {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: flex-end;
  }
  .kfilm_footer > article {
    border: 3px royalblue solid;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 1vh;
  }
  .kfilm_footer > article a {
    display: flex;
    flex-direction: column;
  }
  .kfilm_footer > article a span {
    color: royalblue;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
  }
  .kfilm_footer > article a i {
    color: royalblue;
    font-size: 16px;
  }
  .kfilm_footer > article a:hover {
    background-color: royalblue;
  }
  .kfilm_footer > article a:hover span, .kfilm_footer > article a:hover i {
    color: yellow;
  }
  .kfilm_footer > section {
    background-color: royalblue;
    color: whitesmoke;
    padding: 2%;
    font-size: 12px;
    width: 100%;
  }
  .kfilm_footer > section p:first-child {
    text-align: right;
  }
  .kfilm_footer > section p:first-child a {
    color: gold;
    font-weight: 500;
  }
  .kfilm_footer > section p:first-child a:hover {
    color: blue;
    text-decoration: underline;
  }
  .kfilm_footer > section p:nth-child(2) {
    text-align: center;
  }
  .kfilm_footer > section blockquote {
    display: flex;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    justify-content: flex-end;
  }
  .kfilm_footer > section blockquote a {
    border: 2px solid yellow;
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .kfilm_footer > section blockquote a:hover {
    background-color: yellow;
  }
  .kfilm_footer > section blockquote a:hover i {
    color: royalblue;
  }
  .kfilm_footer > section blockquote i {
    color: yellow;
    font-size: 12px;
  }
}
@media (min-width: 600px) {
  .home_nav {
    align-items: center;
    height: 12vh;
  }
  .home_nav > section {
    height: 6vh;
  }
  .home_nav details {
    height: 6vh;
    padding-top: 6vh;
  }
  .home_nav summary {
    font-size: 36px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0;
    padding-right: 0;
  }
  .home_nav h2 {
    font-size: 20px;
  }
  .home_header {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }
  .home_header aside {
    height: 6vh;
  }
  .home_header aside > a {
    font-size: 18px;
  }
  .home_header > section h1 {
    font-size: 36px;
  }
  .home_header > section p {
    font-size: 20px;
  }
  .home_header > section:hover {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }
  .home_about {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2%;
    padding-right: 2%;
    row-gap: 5vh;
  }
  .home_about > article h3 {
    font-size: 30px;
  }
  .home_about > article span {
    width: 15vh;
  }
  .home_about > section {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    justify-content: space-between;
  }
  .home_about > section figure {
    width: 48%;
  }
  .home_about > section a, .home_about > section img {
    width: 20vh;
    height: 20vh;
  }
  .home_about > section h5, .home_about > section small {
    font-size: 26px;
  }
  .home_about > section small {
    color: black;
    font-weight: 600;
  }
  .home_about > section figcaption h4 {
    font-size: 26px;
  }
  .home_about > section figcaption p {
    font-size: 20px;
  }
  .home_hit {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2%;
    padding-right: 2%;
    row-gap: 5vh;
  }
  .home_hit > article h3 {
    font-size: 30px;
  }
  .home_hit > article span {
    width: 15vh;
  }
  .home_hit > section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    row-gap: 2vh;
  }
  .home_hit > section p {
    font-size: 18px;
  }
  .home_hit > section details {
    width: 48%;
  }
  .home_hit > section details summary img {
    height: 15vh;
  }
  .home_hit > section details ul img {
    height: 25vh;
  }
  .home_map {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2%;
    padding-right: 2%;
    row-gap: 5vh;
  }
  .home_map > article h3 {
    font-size: 30px;
  }
  .home_map > article span {
    width: 15vh;
  }
  .home_map figure {
    width: 90%;
  }
  .home_map figcaption {
    width: 100%;
  }
  .home_map figcaption p, .home_map figcaption span, .home_map figcaption a {
    font-size: 20px;
  }
  .home_contact {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2%;
    padding-right: 2%;
    row-gap: 5vh;
  }
  .home_contact > article h3 {
    font-size: 30px;
  }
  .home_contact > article span {
    width: 15vh;
  }
  .home_contact form label {
    font-size: 22px;
  }
  .home_contact form strong {
    font-size: 20px;
  }
  .home_contact form ::-moz-placeholder {
    font: size 20px;
  }
  .home_contact form :-ms-input-placeholder {
    font: size 20px;
  }
  .home_contact form ::placeholder {
    font: size 20px;
  }
  .home_contact form > aside:last-child > input {
    font-size: 23px;
    padding: 1%;
  }
  .home_footer p, .home_footer p > a {
    font-size: 25px;
  }
  .kpopfix {
    height: 8vh;
    display: flex;
    align-items: center;
  }
  .kpopfix aside {
    width: 50%;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
  }
  .kpopfix aside i {
    font-size: 3vh;
  }
  .kpopfix aside a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .kpopfix aside a:hover {
    background-color: white;
    border-radius: 50%;
    border: 3px solid gray;
  }
  .kpopnav span {
    width: 30%;
  }
  .kpopnav h1 {
    font-size: 5vh;
    text-transform: uppercase;
  }
  .kpopnav details {
    font-size: 3vh;
    margin-top: 1.4vh;
  }
  .kpopnav details summary {
    font-size: 4vh;
  }
  .kpopnav details a {
    font-size: 26px;
    padding: 2%;
  }
  .kpopnav details a:hover {
    background-color: #4A442D;
    color: white;
  }
  .kpoptitlepage {
    row-gap: 1vh;
  }
  .kpopheader aside a {
    border-radius: 5px;
    text-transform: uppercase;
  }
  .kpopheader aside a:hover {
    background-color: #A3C4BC;
    color: #0e100f;
    font-weight: 600;
    border: 2px solid black;
  }
  .kpopheader {
    padding-bottom: 3vh;
  }
  .w-100 {
    height: 30vh !important;
  }
  .carousel-inner h5 {
    font-size: 26px;
    font-style: italic;
  }
  .carousel-inner p {
    font-size: 16px;
    padding: 1%;
  }
  .kpopabout {
    height: 40vh;
  }
  .kpopabout h2 {
    display: flex;
    font-size: 35px;
  }
  .kpopabout > span {
    height: 3px;
  }
  .kpopabout article > p {
    width: 70%;
    font-size: 24px;
  }
  .kpopabout article a {
    padding: 1%;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .kpopcalendar > span {
    height: 3px;
  }
  .kpopcalendar article {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .kpopcalendar article figure {
    width: 25%;
    height: 40vh;
  }
  .kpopcalendar article figure img {
    height: 15vh;
  }
  .kpopartists > span {
    height: 3px;
  }
  .kpopartists article {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    width: 95%;
    align-items: flex-start;
  }
  .kpopartists article figure {
    display: flex;
    align-items: center;
    width: 35%;
  }
  .kpopartists article figure img {
    height: 25vh;
  }
  .kpopartists article figure a,
.kpopartists article figure a:hover blockquote {
    height: 25vh;
  }
  .kpopartists article figure aside {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  .kpopartists article figure aside i {
    font-size: 25px;
  }
  .kpopartists article figure aside a {
    color: gray;
    height: 3vh;
    justify-content: center;
    padding-top: 5%;
  }
  .kpopartists article figure aside a:hover {
    color: white;
  }
  .kpopartists article figure figcaption {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 2vh;
  }
  .kpopartists article figure figcaption small {
    font-size: 18px;
    color: #A3C4BC;
    text-transform: uppercase;
    text-align: center;
  }
  .kpopartists article figure figcaption p {
    text-align: center;
    font-size: 18px;
  }
  .kpoponsale {
    width: 100%;
  }
  .kpoponsale > article {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
  }
  .kpoponsale figure {
    border: 3px solid #413C58;
    width: 40%;
  }
  .kpoponsale figure img,
.kpoponsale figure a {
    width: 100%;
    height: 25vh;
  }
  .kpoponsale figure small,
.kpoponsale figure p,
.kpoponsale figure h6 {
    font-size: 20px;
  }
  .kpoponsale figure .progress {
    height: 2vh;
    font-size: 20px;
  }
  .kpopaudition form blockquote {
    font-size: 22px;
  }
  .kpopaudition form blockquote input {
    width: 1.5vh;
    height: 1.5vh;
  }
  .kpopaudition form blockquote input[type=text] {
    height: 5vh;
  }
  .kpopaudition form blockquote ::-moz-placeholder {
    font-size: 22px;
  }
  .kpopaudition form blockquote :-ms-input-placeholder {
    font-size: 22px;
  }
  .kpopaudition form blockquote ::placeholder {
    font-size: 22px;
  }
  .kpopaudition form aside {
    font-size: 22px;
  }
  .kpopaudition form aside input {
    width: 1.5vh;
    height: 1.5vh;
  }
  .kpopaudition form label,
.kpopaudition form h4 {
    font-size: 25px;
  }
  .kpopaudition form section {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .kpopaudition form section label:first-child,
.kpopaudition form section label:nth-child(3) {
    width: 30%;
  }
  .kpopaudition form section [type=text], .kpopaudition form section [type=email] {
    width: 70%;
  }
  .kpopaudition form section label:nth-child(5),
.kpopaudition form section label:nth-child(6) {
    width: 100%;
  }
  .kpopaudition form section [type=date], .kpopaudition form section [type=message], .kpopaudition form section textarea {
    width: 100%;
  }
  .kpopaudition form section [type=date] {
    height: 5vh;
  }
  .kpopaudition form [type=submit] {
    font-size: 22px;
  }
  footer p {
    font-size: 20px;
  }
  footer a {
    color: white;
    font-size: 2vh;
  }
  .kfilm_nav h1 {
    font-size: 42px;
    letter-spacing: 3px;
  }
  .kfilm_nav h2 {
    font-size: 22px;
  }
  .kfilm_nav img {
    width: 6vh;
    height: 6vh;
    border: 4px black solid;
  }
  .kfilm_nav details > summary {
    font-size: 38px;
  }
  .kfilm_nav details a {
    font-size: 24px;
  }
  .kfilm_header {
    height: 46vh;
  }
  .kfilm_header aside {
    height: 6vh;
  }
  .kfilm_header aside > a {
    font-size: 18px;
  }
  .kfilm_header > article {
    height: 40vh;
  }
  .kfilm_header > article h2 {
    font-size: 28px;
  }
  .kfilm_header > article p {
    font-size: 18px;
  }
  .kfilm_main {
    padding-top: 3vh;
    padding-left: 4%;
    padding-right: 4%;
  }
  .kfilm_main > section {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  .kfilm_main > section > article h3 {
    font-size: 30px;
  }
  .kfilm_intro h4 {
    font-size: 24px;
  }
  .kfilm_intro .kfilm_intro_left img {
    width: 20vh;
    height: 20vh;
  }
  .kfilm_intro .kfilm_intro_left p {
    font-size: 18px;
  }
  .kfilm_intro .kfilm_intro_left span {
    font-size: 20px;
  }
  .kfilm_intro .kfilm_intro_left a {
    font-size: 16px;
  }
  .kfilm_intro .kfilm_intro_right blockquote {
    row-gap: 3vh;
  }
  .kfilm_intro .kfilm_intro_right blockquote h5 {
    font-size: 22px;
  }
  .kfilm_artist table small {
    font-size: 28px;
  }
  .kfilm_director > section {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
    justify-content: space-evenly;
  }
  .kfilm_director > section > figure {
    width: 32%;
    justify-content: flex-start;
  }
  .kfilm_director > section > figure a, .kfilm_director > section > figure img,
.kfilm_director > section > figure a:hover > aside {
    width: 18vh;
    height: 18vh;
  }
  .kfilm_director > section > figure small {
    font-size: 20px;
  }
  .kfilm_director > section > figure p {
    font-size: 16px;
    width: 75%;
  }
  .kfilm_movie > section {
    width: 100%;
    height: 45vh;
  }
  .kfilm_movie > section h5 {
    color: blue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(240, 248, 255, 0.85);
    font-weight: 600;
    padding-top: 1%;
  }
  .kfilm_movie > section p {
    color: royalblue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgba(240, 248, 255, 0.85);
    font-weight: 500;
    padding-bottom: 1%;
  }
  .kfilm_movie img {
    height: 45vh;
  }
  .kfilm_drama img {
    height: 40vh;
  }
  .kfilm_drama blockquote {
    font-size: 18px;
  }
  .kfilm_drama button {
    font-size: 22px;
  }
  .kfilm_footer > article {
    width: 7%;
  }
  .kfilm_footer > article a span {
    font-size: 16px;
  }
  .kfilm_footer > article a i {
    font-size: 20px;
  }
  .kfilm_footer > section {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    row-gap: 1vh;
    justify-content: center;
    align-items: center;
  }
  .kfilm_footer > section blockquote {
    width: 100%;
  }
  .kfilm_footer > section blockquote a {
    border: 3px solid yellow;
    width: 3vh;
    height: 3vh;
  }
  .kfilm_footer > section blockquote i {
    font-size: 16px;
  }
}
@media (min-width: 1000px) {
  .home_header {
    -webkit-animation-name: unset;
            animation-name: unset;
  }
  .home_nav {
    height: 24vh;
  }
  .home_nav details {
    display: none;
  }
  .home_nav > article {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    width: 95%;
    justify-content: flex-end;
    align-items: center;
    height: 12vh;
  }
  .home_nav > article .dropdown-item {
    text-transform: uppercase;
  }
  .home_nav > article aside:last-child li {
    text-align: right;
  }
  .home_nav > article aside > a {
    background-color: #F297B3;
    border: transparent;
  }
  .home_nav > article ul a:hover {
    background-color: #F297B3;
    color: white;
  }
  .home_nav section {
    height: 12vh;
  }
  .home_nav section img {
    width: 6vh;
    height: 6vh;
  }
  .home_header {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    background-position: center;
  }
  .home_header aside {
    display: none;
  }
  .home_header > section {
    justify-content: center;
  }
  .home_header > section:hover {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    background-position: center;
  }
  .home_about {
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
  }
  .home_about > article h3 {
    font-size: 26px;
  }
  .home_about > article span {
    width: 20vh;
  }
  .home_about > section {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .home_about > section > figure {
    width: 100%;
    height: 60vh;
    padding: 1%;
  }
  .home_about > section a, .home_about > section img {
    width: 32vh;
    height: 32vh;
  }
  .home_about > section figcaption h4 {
    font-size: 26px;
  }
  .home_about > section figcaption p {
    font-size: 16px;
  }
  .home_about > section h5, .home_about > section small {
    font-size: 26px;
  }
  .home_hit {
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
  }
  .home_hit > article h3 {
    font-size: 26px;
  }
  .home_hit > article span {
    width: 20vh;
  }
  .home_hit > section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    row-gap: 2vh;
  }
  .home_hit > section p {
    font-size: 18px;
  }
  .home_hit > section details {
    width: 48%;
  }
  .home_hit > section details summary img {
    height: 24vh;
  }
  .home_hit > section details ul img {
    height: 36vh;
  }
  .home_map {
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
  }
  .home_map > article h3 {
    font-size: 26px;
  }
  .home_map > article span {
    width: 20vh;
  }
  .home_map figure {
    width: 100%;
  }
  .home_map figure section {
    width: 100%;
    height: 80vh;
  }
  .home_map figure figcaption {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
  }
  .home_contact {
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
  }
  .home_contact > article h3 {
    font-size: 26px;
  }
  .home_contact > article span {
    width: 20vh;
  }
  .home_contact form {
    justify-content: space-between;
    row-gap: 4vh;
  }
  .home_contact form label {
    font-size: 18px;
  }
  .home_contact form aside {
    width: 49%;
  }
  .home_contact form aside:first-child,
.home_contact form aside:nth-child(4),
.home_contact form aside:last-child {
    width: 100%;
  }
  .home_contact form textarea {
    height: 30vh;
  }
  .home_contact form strong {
    font-size: 16px;
  }
  .home_contact form ::-moz-placeholder {
    font-size: 16px;
  }
  .home_contact form :-ms-input-placeholder {
    font-size: 16px;
  }
  .home_contact form ::placeholder {
    font-size: 16px;
  }
  .home_contact form > aside:last-child > input {
    font-size: 18px;
    padding: 1%;
    width: 16%;
  }
  .home_footer {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    justify-content: space-evenly;
  }
  .home_footer p, .home_footer p > a {
    font-size: 16px;
  }
  .kpopnav {
    height: 25vh;
  }
  .kpopnav details {
    display: none;
  }
  .kpopnav > article {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    width: 60%;
    justify-content: center;
    align-items: center;
    height: 12vh;
  }
  .kpopnav > article .dropdown-item {
    text-transform: uppercase;
  }
  .kpopnav > article aside:last-child li {
    text-align: right;
  }
  .kpopnav > article aside > a {
    background-color: #386150;
    border: transparent;
    font-size: 3vh;
  }
  .kpopnav > article ul a:hover {
    background-color: #F297B3;
    color: white;
  }
  .kpopheader aside {
    display: none;
  }
  .kpopfix aside a {
    font-size: 3vh;
    color: azure;
  }
  .kpopnav {
    height: 20vh;
  }
  .kpoptitlepage h1 {
    font-size: 8vh;
    color: #386150;
    font-style: italic;
  }
  .kpoptitlepage img {
    width: 8vh;
    height: 8vh;
  }
  .w-100 {
    height: 50vh !important;
  }
  .kpopabout {
    height: 40vh;
    row-gap: 3vh;
  }
  .kpopabout h2 {
    font-size: 5vh;
  }
  .kpopabout article a {
    font-size: 2vh;
    width: 25%;
    padding: 1%;
  }
  .kpopcalendar article {
    flex-wrap: wrap;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
  }
  .kpopcalendar article figure {
    width: 43%;
  }
  .kpopartists article {
    flex-direction: row;
  }
  .kpopartists article figure {
    width: 18%;
  }
  .kpopartists article figure blockquote {
    text-align: start;
    color: black;
  }
  .kpopartists a {
    font-size: 3vh;
  }
  .kpopartists figcaption small, .kpopartists figcaption p {
    font-size: 18px;
  }
  .kpopartists .kpopsale figure {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .kpopartists .kpopsale figure img {
    height: 20vh;
  }
  .kfilm_nav {
    height: 24vh;
    align-items: flex-start;
  }
  .kfilm_nav > details {
    display: none;
  }
  .kfilm_nav > section {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 12vh;
  }
  .kfilm_nav > section .dropdown-item {
    text-transform: uppercase;
  }
  .kfilm_nav > section aside:last-child li {
    text-align: right;
  }
  .kfilm_nav > section aside > a {
    background-color: royalblue;
  }
  .kfilm_nav > section ul a:hover {
    background-color: royalblue;
    color: white;
  }
  .kfilm_nav figure {
    height: 12vh;
    width: 80%;
    align-items: center;
    padding-bottom: 1vh;
  }
  .kfilm_nav figure img {
    width: 4vh;
    height: 4vh;
    border: 2px black solid;
  }
  .kfilm_nav figure h1 {
    font-size: 24px;
  }
  .kfilm_nav h2 {
    font-size: 18px;
    border-top: 4px solid royalblue;
    width: 100%;
  }
  .kfilm_header {
    height: 70vh;
  }
  .kfilm_header > aside {
    display: none;
  }
  .kfilm_header > article {
    height: 70vh;
  }
  .kfilm_header > article h2 {
    font-size: 32px;
  }
  .kfilm_header > article p {
    font-size: 22px;
  }
  .kfilm_main {
    padding-top: 8vh;
    padding-left: 2%;
    padding-right: 2%;
  }
  .kfilm_main > section {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .kfilm_main > section > article h3 {
    font-size: 26px;
  }
  .kfilm_intro h4 {
    width: 100%;
    font-size: 20px;
    border-bottom: none;
    background-color: #62B3D1;
    color: whitesmoke;
    padding: 1%;
  }
  .kfilm_intro > section {
    row-gap: 4vh;
  }
  .kfilm_intro .kfilm_intro_left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    row-gap: 0vh;
    justify-content: space-between;
  }
  .kfilm_intro .kfilm_intro_left figure {
    width: 49%;
  }
  .kfilm_intro .kfilm_intro_left img {
    width: 28vh;
    height: 28vh;
  }
  .kfilm_intro .kfilm_intro_left p {
    font-size: 16px;
  }
  .kfilm_intro .kfilm_intro_left span {
    font-size: 20px;
  }
  .kfilm_intro .kfilm_intro_left a {
    font-size: 14px;
  }
  .kfilm_intro .kfilm_intro_right blockquote h5 {
    font-size: 18px;
  }
  .kfilm_artist table small {
    font-size: 28px;
  }
  .kfilm_artist table .r1d1, .kfilm_artist table .r2d2 {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
  }
  .kfilm_artist table .r1d2, .kfilm_artist table .r1d3, .kfilm_artist table .r1d4, .kfilm_artist table .r2d1, .kfilm_artist table .r3d1, .kfilm_artist table .r3d2, .kfilm_artist table .r3d3 {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }
  .kfilm_director > section {
    padding-top: 8vh;
    padding-bottom: 8vh;
  }
  .kfilm_director > section > figure a, .kfilm_director > section > figure img,
.kfilm_director > section > figure a:hover > aside {
    width: 32vh;
    height: 32vh;
  }
  .kfilm_director > section > figure small {
    font-size: 22px;
  }
  .kfilm_director > section > figure p {
    font-size: 18px;
  }
  .kfilm_movie > section {
    height: 80vh;
  }
  .kfilm_movie img {
    height: 80vh;
  }
  .kfilm_drama img {
    height: 80vh;
  }
  .kfilm_drama blockquote {
    font-size: 16px;
  }
  .kfilm_drama button {
    font-size: 20px;
  }
  .kfilm_footer > article {
    width: 5%;
  }
  .kfilm_footer > section {
    font-size: 18px;
    font-weight: 300;
  }
  .kfilm_footer > section blockquote a {
    width: 5vh;
    height: 5vh;
  }
  .kfilm_footer > section blockquote i {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */