.kfilm_nav {
    img {
        width: 10vh;
        height: 10vh;
    }
    background-color: yellow;
}

.kfilm_header {
    @include NSimgset(50vh);
    background-image: url(/img/header_kfilm.jpg);

}

table {
    border : 2px red solid;
    width: 40vh;
    height: 40vh;

    td {
    border : 2px red solid;
    }
}
