@media (min-width:$TabletSize) {

    nav > details {
        display: none;
    }
    
    
    nav {
        align-items: center;

        > ul {
            @include NSflexrowcol(5vh);
            @include NSalignCenter;
            @include NSsize(50%,8vh);
        }
    
        li {
            display: flex;
            width: 100%;
            @include NSalignCenter;
        }
    
        a {
            text-transform: uppercase;
            @include NSfont($dFontSize7,500);
            background-color: rgba($dPink3,.2);
            color: $dPink5;
            width: 60%;
            padding: 3%;
            text-align: center;
            border-radius: 20px;
            transition: .4s;
        }
    
        a:hover {
            background-color: $dPink4;
            color: white;
            border-radius: 20px;
        }    
    }
}