* {
    margin: 0;
    padding: 0;
    font-family: $defFont;
}

html {
    scroll-behavior: smooth;
}

body {
    @include NSflexcol;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1, h2, h3, h4, 
h5, h6, ul, figure,
blockquote, p {
    margin : 0;
    padding: 0;
}

@keyframes bts-color {
    0% {border-top :10px solid $dPink1;}
   25% {border-top :10px solid $dPink2;}
   50% {border-top :10px solid $dPink3;}
   75% {border-top :10px solid $dPink4;}
  100% {border-top :10px solid $dPink5;}
}

@keyframes kfilm-color {
    0% {border-top :5px solid $dBlue1;}
   25% {border-top :5px solid $dBlue2;}
   50% {border-top :5px solid $dBlue3;}
   75% {border-top :5px solid $dBlue4;}
  100% {border-top :5px solid $dBlue5;}
}

@keyframes bts-op {
    from {transform: scale(1.0);}
    to {transform: scale(0.8);}
}

.nav_ani {
    animation-name: bts-color;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.kfilm_ani {
    animation-name: kfilm-color;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.title_ani {
    animation-name: bts-op;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}


