* {
    margin: 0;
    padding: 0;
    font-family: $defFont;
}

html {
    scroll-behavior: smooth;
}

body {
    @include NSflexcol;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1, h2, h3, h4, 
h5, h6, ul, figure,
blockquote, p {
    margin : 0;
    padding: 0;
}

@keyframes bts-color {
    0% {border-top :10px solid $dPink1;}
   25% {border-top :10px solid $dPink2;}
   50% {border-top :10px solid $dPink3;}
   75% {border-top :10px solid $dPink4;}
  100% {border-top :10px solid $dPink5;}
}

@keyframes bts-op {
    from {transform: scale(0.98);}
    to {transform: scale(1);}
    from {transform: rotate(-8deg);}
    to {transform: rotate(8deg);}        
}

.nav_ani {
    animation-name: bts-color;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

.home_header {
    // animation-name: bts-op;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}


