@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
$defFont    : 'Poppins', sans-serif;

$dPink1     : #FCEEF3;
$dPink2     : #FBDFE6;
$dPink3     : #F5B9C9;
$dPink4     : #F297B3;
$dPink5     : hotpink;

$dBlue1     : #C9EAF3;
$dBlue2     : #9ED6E7;
$dBlue3     : #7CC4DC;
$dBlue4     : #62B3D1;
$dBlue5     : royalblue;

$dGreen1     : #B3E5D9;
$dGreen2     : #7DD0B6;
$dGreen3     : #57BA9B;
$dGreen4     : #3DA781;
$dGreen5     : forestgreen;

$MobileSize  : 200px;
$TabletSize  : 600px;
$DesktopSize : 1000px;

$dFontSize1  : 12px; 
$dFontSize2  : 14px; 
$dFontSize3  : 16px; 
$dFontSize4  : 18px; 
$dFontSize5  : 20px; 
$dFontSize6  : 22px; 
$dFontSize7  : 24px; 
$dFontSize8  : 26px; 
$dFontSize9  : 28px; 

