@media (min-width:$DesktopSize) {
    // 1.HOME DESKTOP NAV START
    .home_header {
        animation-name: unset;
    }

    .home_nav {
        height:26vh;

        section {
            height:10vh;
        }

        ul {
            height: 16vh;
        }
        
        a {
            padding: 1%;
        }
    }
    // 1.HOME DESKTOP NAV END
    // 2.HOME DESKTOP HEADER START
    .home_header {
        @include NSimgset(60vh);
        background-position: center;

        > section {
            background-color: rgba(244, 219, 232, 0.7);
            justify-content: center;
        }
    }
    // 2.HOME DESKTOP HEADER END
    // 3.HOME DESKTOP MAIN START
    .home_about {
        @include NSpadding(8vh,8vh,2%,2%);
        @include NSflexcolrow(8vh);
        
        > article {
            h3 {
                font-size: 26px;
            }

            span {
                width: 20vh;
            }
        }

        > section {
            @include NSflexrowcol(1vh);

            > figure {
                width: 100%;
                height: 60vh;
                padding: 1%;
            }

            figcaption {
                h4 {
                font-size:26px;
                }

                p {
                font-size:16px;
                }
            }

            h5, small {
                font-size:26px;
            }            
        }
    }

    .home_map {
        @include NSpadding(8vh,8vh,2%,2%);
        @include NSflexcolrow(8vh);
        
        > article {
            h3 {
                font-size: 26px;
            }

            span {
                width: 20vh;
            }
        }
        
        figure {
            width: 100%;

            section {
                @include NSsize(100%,80vh);
            }

            figcaption {
                @include NSpadding(0,0,5%,5%);
            }
        }
    }

    .home_contact {
        @include NSpadding(8vh,8vh,2%,2%);
        @include NSflexcolrow(8vh);
        
        > article {
            h3 {
                font-size: 26px;
            }

            span {
                width: 20vh;
            }
        }

        form {
            justify-content: space-between;
            row-gap: 4vh;

            label {
            font-size:18px;
            }

            aside {
                width: 49%;
            }

            aside:first-child,
            aside:nth-child(4),
            aside:last-child {
                width: 100%;
            }

            textarea {
                height: 30vh;
            }
            
            strong {
                font-size:16px;
            }

            ::placeholder {
                font-size:16px;
            }

            > aside:last-child > input {
                font-size:18px;
                padding:1%;
                width: 16%;
            }
        }
    }
    // 3.HOME DESKTOP MAIN END
    // 4.HOME DESKTOP FOOTER START
    .home_footer {
        @include NSflexrowcol(2vh);
        justify-content: space-evenly;

        p, p > a {
            font-size:16px;
        }
    }
    // 4.HOME DESKTOP FOOTER END
}