@media (min-width:$MobileSize) {

    // 1.HOME NAV START
    .home_nav {
        @include NSflexcol;
        position: relative;
        align-items: center;
        height: 16vh;

        > ul {
            display: none;
        }

        > section {
            @include NSflexrowcol(1vh);
            @include NSalignCenter;
            background-color: $dPink2;
            height: 8vh;
            width: 100%
        }

        img {
            @include NSsize(3vh, 3vh);
            border : 3px $dPink4 solid;
            border-radius: 50%;
        }
        
        figure {
            display: flex;
            @include NSalignCenter;
        }

        h2 {
            font-size: $dFontSize2;
        }

        details {
            position: fixed;
            text-align: right;
            width: 98%;
            z-index: 1;
            padding-top: 8vh;
            padding-right: 1%;
            height: 8vh;
        }

        summary {
            font-size: $dFontSize9;
            color: $dPink4;
            @include NSpadding(2vh,2vh,0,0);
            z-index: 1;
        }

        details > ul {
            position: fixed;
            width: 98%;
            @include NSflexcol;
            text-align: center;

            li {
                display: flex;
                width: 100%;
                border-bottom: 1px whitesmoke solid;
                border-right: 1px whitesmoke solid;
                background-color: rgba(50,50,50,.4);
                border-radius: 4px;
            }

            a {
                @include NSfont($dFontSize3,400);
                text-transform: uppercase;
                text-align: center;
                width: 100%;
                padding: 2%;
                color: whitesmoke;
            }

            a:hover {
                background-color: $dPink1;
                color: $dPink4;
            }
        }
    }
    // 1.HOME NAV END
    //////////////////////
    // 2.HOME HEADER START
    .home_header {
        display: flex;
        background-image: url("/img/bg-header.png");
        @include NSimgset(60vh);
        @include NSalignCenter;

        > section {
            background-color: rgba(244, 219, 232, 0.5);
            border-radius: 20px;
            @include NSsize(90%,90%);
            @include NSflexcolrow(3vh);
            align-items: center;
            justify-content: flex-end;
            
            h1 {
                @include NSfont($dFontSize8,600);
                @include NSpadding(2%,2%,0,0);
                width: 70%;
                text-align: center;
            }

            p {
                font-size: $dFontSize2;
                width: 70%;
                text-align: justify;

                span {
                    @include NSfont($dFontSize2,400);
                    color: $dPink5;
                    text-transform: uppercase;
                }
            }

        }
    }
    // 2.HOME HEADER END
    //////////////////////
    // 3.HOME MAIN START
    // 3.1 MAIN ABOUT SECTION
    .home_about {
        background-color: $dPink1;
        @include NSpadding(10vh,10vh,5%,5%);
        @include NSflexcolrow(10vh);
        align-items: center;

        > article {
            @include NSflexcolrow(1vh);
            align-items: center;

            h3 {
                text-transform: uppercase;
                @include NSfont($dFontSize7,600);
            }
    
            span {
                width: 20%;
                color: $dPink4;
                height: 1vh;
                background-color: $dPink4;
                border: 1vh solid $dPink4;
                border-radius: 10px;
            } 
        }

        > section {
            @include NSflexcolrow(5vh);
            align-items: center;

            > figure {
                background-color: $dPink2;
                @include NSflexcolrow(3vh);
                @include NSalignCenter;
                padding: 5%;
            }

            a {
                position: relative;
                @include NSsize(30vh,30vh);
                transition: .4s;
            }

            aside {
                @include NSflexcol;
                @include NSalignCenter;
                @include NSsize(100%,100%);
                border-radius: 50%;
            }

            a:hover > aside {
                position: absolute;
                background-color: rgba($dPink5,.5);
                color: yellow;
            }

            figcaption {
                @include NSflexcolrow(1vh);
                @include NSalignCenter;
                width: 80%;
                text-align: center;
            }

            h4 {
                @include NSfont($dFontSize5,700);
            }

            p {
                @include NSfont($dFontSize2,300);
                color:dimgray;
            }

            img {
                @include NSsize(30vh,30vh);
                position: absolute;
                border-radius: 50%;         
            }
        }
    }
    // 3.2 MAIN MAP SECTION
    .home_map {
        background-color: white;
        @include NSpadding(10vh,10vh,5%,5%);
        @include NSflexcolrow(10vh);
        align-items: center;

        > article {
            @include NSflexcolrow(1vh);
            align-items: center;

            h3 {
                text-transform: uppercase;
                @include NSfont($dFontSize7,600);
            }
    
            span {
                width: 20%;
                color: $dPink4;
                height: 1vh;
                background-color: $dPink4;
                border: 1vh solid $dPink4;
                border-radius: 10px;
            } 
        }

        figure {
            @include NSflexcolrow(3vh);
            align-items: center;
            
            section {
                @include NSsize(100%,40vh);
                padding: 1%;
                border: 1px solid lightgray;
            }

            iframe {
                @include NSsize(100%,100%);
            }

            figcaption {
                @include NSflexcolrow(1vh);
            }

            p {
                color: dimgray;
                @include NSfont($dFontSize3,400);
            }

            span {
                @include NSflexrowcol(2vh);
                align-items: center;
                color: $dPink4;
                @include NSfont($dFontSize2,300);
            }

            a {
                color: $dPink5;
                @include NSfont($dFontSize2,500);
            }

            a:hover {
                color: $dBlue5;
                text-decoration: underline;
            }
        }
    }
    // 3.3 MAIN COMTACT SECTION
    .home_contact {
        background-color: $dPink1;
        @include NSpadding(10vh,10vh,5%,5%);
        @include NSflexcolrow(10vh);
        align-items: center;

        > article {
            @include NSflexcolrow(1vh);
            align-items: center;

            h3 {
                text-transform: uppercase;
                @include NSfont($dFontSize7,600);
            }
    
            span {
                width: 20%;
                color: $dPink4;
                height: 1vh;
                background-color: $dPink4;
                border: 1vh solid $dPink4;
                border-radius: 10px;
            } 
        }

        > form {
            @include NSflexwrap(2vh,2vh);

            aside {
                width: 100%;
                @include NSflexcolrow(0.5vh);
            }
           
            label {
                color: dimgray;
                text-transform: capitalize;
                @include NSfont($dFontSize2,400);
            }
        
            input {
                border: 1px lightgray solid;
                padding: 1%;
            }
        
            textarea {
                border: 1px lightgray solid;
                height: 20vh;
                resize: none; 
                padding: 1%;
            }

            > aside:last-child > input {
                background-color: $dPink4;
                color: whitesmoke;
                @include NSfont($dFontSize1,500);
                text-transform: uppercase;
                width: 20%;
                padding: 2%;
                border: none;
            }
        
            > aside:last-child > input:hover {
                background-color: $dBlue4;
                color: whitesmoke;
            }

            ::placeholder {
                @include NSfont($dFontSize1,300);
                color: lightgray;
            }

            aside:first-child{
                width: fit-content;
            }

            blockquote {
                @include NSflexrowcol(2.2vh);

                > span {
                    @include NSflexrowcol(0.3vh);
                    @include NSfont($dFontSize2,300);
                    color: dimgray;
                    text-transform: uppercase;
                }
            }
        }
    }
    // 3.HOME MAIN END
    //////////////////////
    // 4.HOME FOOTER START
    .home_footer {
        @include NSflexcolrow(1vh);
        padding: 2%;
        align-items: center;
        justify-content: center;
        background-color: black;

        p {
            @include NSfont($dFontSize1, 300);
            color: whitesmoke;
            text-align: center;

            > a {
                color: $dBlue5;
                font-weight: 500;
                font-size: $dFontSize2;
            }

            > a:hover {
                text-decoration: underline;
                color: yellow;
            }
        }

        blockquote {
            @include NSflexrowcol(1vh);

            > a {
                font-size: $dFontSize6;
                border-radius: 50%;
                border: 3px solid $dPink3;
                @include NSsize(6vh, 6vh);
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                color: $dPink3;
            }

            > a:hover {
                background-color: $dPink3;
                color: whitesmoke;
            }
        }
    }
    // 4.HOME FOOTER END
}