@media (min-width:$TabletSize) {

    nav > details {
        display: none;
    }
    
    nav {
        align-items: center;
        height:13vh;

        section{
            height:5vh;
        }

        > ul {
            @include NSflexrowcol(5vh);
            @include NSalignCenter;
            @include NSsize(50%,8vh);
        }
    
        li {
            display: flex;
            width: 100%;
            @include NSalignCenter;
        }
    
        a {
            text-transform: uppercase;
            @include NSfont($dFontSize7,500);
            background-color: rgba($dPink3,.2);
            color: $dPink5;
            width: 100%;
            padding: 3%;
            text-align: center;
            // border-radius: 20px;
            transition: .4s;
        }
    
        a:hover {
            background-color: $dPink4;
            color: white;
            border-radius: 20px;
        }    
    }
    header{
        @include NSimgset(40vh);
        
        >section{
            h1{
                font-size:36px;
            }
            p{
                font-size:20px;
            }
        }
    }
    .about {
        @include NSpadding(5vh,5vh,2%,2%);
        >article{
            h3{
                font-size:36px;
            }
        span{
            width:15vh;
        }
        }
        section {
            h5,small{
                font-size:30px;
            }
            small{
                color:black;
                font-weight:600;
            }
            figcaption {
                h4{
                font-size:30px;
                }
                p{
                font-size:20px;
                }
            }

        }
    }
    .map {

        @include NSpadding(5vh,5vh,2%,2%);
        >article{
            h3{
                font-size:36px;
            }
        
        span{
            width:15vh;
        }
        }
        figure{
            width:90%;
        }
        figcaption{
            width:100%;
            p,span,a{
                font-size:20px;
            }
        }
    }
    .contact {

        @include NSpadding(5vh,5vh,2%,2%);
        >article{
            h3{
                font-size:36px;
            }
        
        span{
            width:15vh;
        }
        }
        form {
            label{
            font-size:25px;
            }
            strong{
                font-size:22px;
            }
            ::placeholder{
                font-size:20px;
            }
            > aside:last-child > input {
                font-size:23px;
                padding:1%;
            }
        }
    }
    footer{
        p,p>a{
            font-size:25px;
        }
       
    }
}
