// 1.HOME TABLET NAV START
.home_nav {
    align-items: center;
    height:12vh;

    > section {
        height:6vh;
    }

    details {
        height:6vh;
        padding-top: 6vh;
    }

    summary {
        font-size: 36px;
        @include NSpadding(1vh,1vh,0,0);
    }

    h2 {
        font-size: $dFontSize5;
    }        
}
// 1.HOME TABLET NAV END
// 2.HOME TABLET HEADER START
.home_header {
    @include NSimgset(40vh);
    
    aside {
        height: 6vh;

        > a {
            font-size: 18px;
        } 
    }

    > section {
        h1 {
            font-size:36px;
        }

        p {
            font-size: $dFontSize5;
        }
    }

    > section:hover {
        @include NSimgset(40vh);
    }    

}
// 2.HOME TABLET HEADER END
// 3.HOME TABLET MAIN START
.home_about {
    @include NSpadding(3vh,3vh,2%,2%);
    row-gap: 5vh;

    > article {
        h3 {
            font-size:30px;
        }
    
        span {
            width:15vh;
        }
    }

    > section {
        @include NSflexrowcol(1vh);
        justify-content: space-between;

        figure {
            width: 48%;
        }

        a, img {
            @include NSsize(20vh,20vh);
        }

        h5, small {
            font-size:26px;
        }

        small {
            color:black;
            font-weight:600;
        }

        figcaption {
            h4 {
            font-size:26px;
            }

            p {
            font-size:20px;
            }
        }
    }
}

.home_hit {
    @include NSpadding(3vh,3vh,2%,2%);
    row-gap: 5vh;

    > article {
        h3 {
            font-size:30px;
        }
    
        span {
            width:15vh;
        }
    }

    > section {
        @include NSflexwrap(2vh,2vh);

        p {
            font-size: 18px;
        }

        details {
            width: 48%;

            summary {
                img {
                    height: 15vh;
                }
            }

            ul {
                img {
                    height: 25vh;
                }
            }
        }
    }
}

.home_map {
    @include NSpadding(3vh,3vh,2%,2%);
    row-gap: 5vh;

    > article {
        h3 {
            font-size:30px;
        }
    
        span {
            width:15vh;
        }
    }

    figure {
        width:90%;
    }

    figcaption {
        width:100%;

        p, span, a {
            font-size:20px;
        }
    }
}

.home_contact {
    @include NSpadding(3vh,3vh,2%,2%);
    row-gap: 5vh;
    
    > article {
        h3 {
            font-size:30px;
        }
    
        span {
            width:15vh;
        }
    }

    form {
        label {
        font-size:22px;
        }

        strong {
            font-size:20px;
        }

        ::placeholder {
            font: size 20px;
        }

        > aside:last-child > input {
            font-size:23px;
            padding:1%;
        }
    }
}
// 3.HOME TABLET MAIN END
// 4.HOME TABLET FOOTER START
.home_footer {
    p, p > a {
        font-size:25px;
    }
}
// 4.HOME TABLET FOOTER END
