.kpopnav {
    height:25vh;

    details {
        display: none;
    }

    > article {
        @include NSflexrowcol(3vh);
        width: 95%;
        justify-content: flex-end;
        align-items: center;
        height: 12vh;

        .dropdown-item {
            text-transform: uppercase;
        }

        aside:last-child li {
            text-align: right;
        }

        aside > a {
            background-color:#386150;
            border: transparent;
        }

        ul a:hover {
            background-color: $dPink4;
            color: white;
            
        }
    }

}
.kpopheader {

    aside {
        display: none;
    }
}
