// kpop fix scss
.kpopfix{
    background-color: #386150;

    aside{
        width:95%;
       @include NSflexrowcol(3vh);
        justify-content:right;
        a{
         color:white;
        :hover{
            color:black;
        }
       }
    }
}

// kpop title page scss
.kpoptitlepage{
    display:flex;
    justify-content: center;
    height:10vh;
    padding-top:3%;
    column-gap: 2vh;

    
    img{
        width:5vh;
        height:5vh;
    }
    h1{
        color:#4A442D;
        font-size:$dFontSize9;
    }
}
// kpop nav scss
.kpopnav{
    display: flex;
    padding-left:2%;
    position:relative;
    justify-content: space-between;
    align-items: center;


    >article{
    display: none;
    }


    details {
        color:#386150;
        text-align: right;
        width:95%;
        display: flex;
        position:fixed;
        z-index:3;
    
            ul{
                @include NSflexcol;
                width:100%;
                // z-index:3;
                background-color:#386150;
                @include NSalignCenter;
                position:absolute;
            
            }

            li{
                display: flex;
                width:100%;
                // z-index:3;
                border-bottom:1px solid white;
            }

            a{
                font-size:$dFontSize2;
                color:whitesmoke;
                text-align: right;
                width:100%;
                padding:1%;
                // z-index:3;
            }
            a:hover{
                color:#386150;
                background-color: white;
            }
    }
}
// kpop header scss
.kpopheader{
    aside{
        display: flex;
        // background-color: #386150;
        width:100%;
        justify-content: flex-end;
        column-gap: 1vh;
        padding:1%;
      
        a{
            padding:1%;
            color:white;
            background-color: #386150;
            
        }
    }
}

// img{
//     width:30vh;
//     height:30vh;
// }


// bootstrap carousel scss changes
.w-100 {
    // width: unset !important;
    height: 50vh !important;
}

.carousel-inner {
    h5{
        color:black; 
        font-weight: 600;
        font-size:$dFontSize5;
    }
    p{
        color:white;
        font-size: $dFontSize1;
        border:1px solid gray;
        background-color:rgba(#789589,0.8);
        padding:2%;
        border-radius: 10px;
    }
}
     

.d-none {
    display: flex!important;
    flex-direction: column;
}


// kpopabout scss starts
.kpopabout {
    @include NSflexcol;
    align-items: center;
    row-gap: 1vh;
    background-color:#4E6E58;
    padding-bottom: 5%;
    padding-top: 10%;

    h2{
        font-size: $dFontSize8;
        text-align:center;
        text-transform: uppercase;
        display: flex;
        column-gap: 1vh;
        // padding-top:5%;
        i{
            color:whitesmoke;
        }
    }
    >span{
        width:15vh;
        height:1vh;
        background-color: #CDE6F5;
        display: inline-block;
    }
    article{
        @include NSflexcol;
        @include NSalignCenter;
        text-align: center;
        row-gap: 2vh;
        
        span{
            color:white;
            text-transform: uppercase;
            font-style:normal;
        }
        p{
            line-height:1.5;
            font-size:$dFontSize1;
            font-style: italic;
        }
        
        a{
            background-color: #CDE6F5;
            padding: 1%;
            color:black;
            font-size: $dFontSize1;
            width:20%;

        }
        
        a:hover{
            color:#554640;
            background-color: white;
        }
    }
}

// kpop scss starts
.kpopcalendar {
    @include NSflexcol;
    @include NSalignCenter;
    // text-align: center;
    row-gap: 2vh;
    padding-top:10%;
    padding-bottom:5%;
    
        >span{
            width:15vh;
            height:1vh;
            background-color:#386150;
            display: inline-block;
        }
        h2{
            text-transform: uppercase;
            color:#413C58;
        }
        article{
            @include NSflexcol;
            @include NSalignCenter;
            row-gap: 5vh;
            width:80%;
               
            figure{
                background-color: #CDE6F5;
                padding-bottom:10%;
                border: 2px solid #554640;

                img{
                    width:100%;
                }
                figcaption{
                    padding-top:10%;
                    @include NSflexcol;
                    @include NSalignCenter;
                    text-align: left;
                    row-gap: 1vh;
                    width:95%;

                    h3,small,p{
                        width:85%;
                    }
                    h3{
                        color:#4A442D;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                    small{
                        font-size:10px;
                        color:#4E6E58;
                    }
                }
            }
        }
}

// kpop artists scss
.kpopartists{
        @include NSflexcol;
        @include NSalignCenter;
        padding-top: 10%;
        padding-bottom:10%;
        row-gap: 2vh;
        background-color:#386150;

        >span{
            width:15vh;
            height:1vh;
            background-color:white;
            display: inline-block;
        }
        h2{
            text-transform: uppercase;
            color:whitesmoke;
        }
        article{
            @include NSflexcol;
            @include NSalignCenter;
            width:90%;
            row-gap: 10vh;

            figure{
                // position:relative;
                @include NSflexcol;
                @include NSalignCenter;
                width:100%;
                img{
                    width:100%;
                    height:40vh;
                    // position:absolute;
                } 
            
                // img:hover{
                //     background-color: rgba(50,50,50, 1);
                // }
            
                aside,figcaption{
                    display: none;
                }
                a{
                    position:relative;
                    width:100%;
                    height:40vh;
                    display: flex;
                }
                a:hover > blockquote{
                    // z-index:1;
                    width:100%;
                    height:40vh;
                    display: flex;
                    background-color: rgba(50,50,50,.4);
                    position:absolute;
                }
                blockquote{
                    @include NSflexcol;
                    align-items: center;
                    color:#ECEBF3;
                    font-size:$dFontSize4;
                    font-style: italic;
                }
                img{
                    position:absolute;
                }
            }
        }
       
}
// kpop sale scss
.kpoponsale{
    @include NSflexcol;
    @include NSalignCenter;
    padding-top:10%;
    padding-bottom:5%;
    row-gap: 2vh;
    

    >span{
        width:15vh;
        height:1vh;
        background-color:#386150;
        display: inline-block;
    }
    h2{
        text-transform: uppercase;
    }
    >article{
        @include NSflexcol;
        row-gap: 3vh;
    }
    figure{
        @include NSflexcol;
        @include NSalignCenter;
        padding-bottom:5%;
        background-color: cadetblue;

        img{
            height:40vh;
        }

        figcaption{
            text-align: center;
            small{
                color:rgb(106, 20, 5);
                text-decoration: line-through;
            }
            p{
                font-size:$dFontSize4;
                font-weight: 600;
            }
        }
        h6{
            font-size:$dFontSize1;
            color:dimgray;
        }
    }
    .progress{
        width:90%;
    }
    
}
// kpop audition scss 
.kpopaudition{
        @include NSflexcol;
        @include NSalignCenter;
        width:100%;
        column-gap: 2vh;
        background-color:#8F91A2;
        padding-top:5%;
        padding-bottom:5%;

        h3{
            color:#363222;
            text-transform: uppercase;
        }

        form{
            width:90%;
            @include NSflexcol;
            row-gap: 1vh;
            // align-items: center;

            input,textarea{
                border:3px solid #BFD7B5;

            }

            label{
                color:#363222;
                text-transform: uppercase;
            }

            h4{
                color:#363222;
                font-size: $dFontSize3;
            }
                
                ::placeholder{
                    font-size:12px;
                    text-align: center;
                    text-transform: uppercase;
                }

            textarea{
                height:20vh;
                

            }
            [type="submit"]{
                border:transparent;
                width:35%;
                text-transform: uppercase;
                padding:1%;
                font-size:$dFontSize1;
            }

            [type="submit"]:hover{
                color:whitesmoke;
                background-color:#386150;
            }
            
            
            >section{
                @include NSflexcol
            }
        }   
            
}
    
footer{
    background-color:#4E6E58;
    @include NSflexcol;
    padding-top:5%;
    padding-bottom:5%;

    p{
        width:80%;
        color:white;
        line-height:1.5;
        font-size:$dFontSize1;
        text-align: center;
    }

    a{
        color:gray;
        font-weight:600;
    }
}


       
    

