.kpopfix{
    background-color: #386150;
    aside{
        width:95%;
       @include NSflexrowcol(3vh);
        justify-content:right;
        a{
         color:white;
        :hover{
            color:black;
        }
       }
    }
}

.kpoptitlepage{
    display:flex;
    // flex-direction: column;
    height:10vh;
    padding-top:5%;
    column-gap: 2vh;
    // justify-content: center;

    
    img{
        width:5vh;
        height:5vh;
    }
    h1{
        color:#4A442D;
        font-size:$dFontSize9;
    }
}

.kpopnav{
    display: flex;
    padding-left:2%;
    position:relative;
    justify-content: space-between;
    align-items: center;
    // height:20vh;
    // width:100%;
}

.kpopnav>article{
    display: none;
}

.kpopnav details {
        color:#386150;
        text-align: right;
        width:95%;
        display: flex;
        position:fixed;
        z-index:3;
    
    ul{
        @include NSflexcol;
        width:100%;
        // z-index:3;
        background-color:#386150;
        @include NSalignCenter;
        position:absolute;
     
    }

    li{
        display: flex;
        width:100%;
        // z-index:3;
        border-bottom:1px solid white;
    }

    a{
        font-size:$dFontSize2;
        color:whitesmoke;
        text-align: right;
        width:100%;
        padding:1%;
        // z-index:3;
    }
}
.kpopheader{
    aside{
        display: flex;
        // background-color: #386150;
        width:100%;
        justify-content: flex-end;
        column-gap: 1vh;
        padding:1%;
      
        a{
            padding:1%;
            color:white;
            background-color: #386150;
            ;
        }
    }
}

// img{
//     width:30vh;
//     height:30vh;
// }

.w-100 {
    // width: unset !important;
    height: 50vh !important;
}

    .carousel-inner {
        h5{
            color:black; 
            font-weight: 600;
        }
        p{
            color:black;
            border:1px solid grau;
            background-color: antiquewhite;
            border-radius: 5%;
        }
    }
     

    .d-none {
        display: flex!important;
        flex-direction: column;
    }


    .kpopabout {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1vh;
        background-color:#4E6E58;
        padding-bottom: 5%;
        padding-top: 10%;
        h2{
            font-size: $dFontSize8;
            text-align:center;
            text-transform: uppercase;
            display: flex;
            column-gap: 1vh;
            // padding-top:5%;
        }
        >span{
            width:15vh;
            height:1vh;
            background-color: #CDE6F5;
            display: inline-block;
        }
        article{
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            row-gap: 2vh;
            span{
                color:white;
                text-transform: uppercase;
            }
          
            a{
                background-color: #CDE6F5;
                padding: 1%;
                color:black;
                font-size: $dFontSize1;
                width:20%;

            }
            
            a:hover{
                color:#554640;
                background-color: white;
            }
        }
    }
.kpopcalendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // text-align: center;
    row-gap: 2vh;
    padding-top:10%;
    padding-bottom:5%;
    
        >span{
            width:15vh;
            height:1vh;
            background-color:#386150;
            display: inline-block;
        }
        h2{
            text-transform: uppercase;
        }
            article{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 5vh;
                width:80%;
               
              
            
                figure{
                    background-color: #CDE6F5;
                    padding-bottom:10%;
                    border: 2px solid #554640;
                    img{
                        width:100%;
                    }
                    figcaption{
                        padding-top:10%;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        row-gap: 1vh;
                        width:95%;
                        h3,small,p{
                            width:85%;
                        }
                        h3{
                            color:#4A442D;
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                        small{
                            font-size:10px;
                            color:#4E6E58;
                        }
                    }
                }
            }
}

.kpopartists{
        display: flex;
        flex-direction: column;
        padding-top: 10%;
        padding-bottom:10%;
        align-items: center;
        row-gap: 2vh;
        justify-content: center;
        background-color:#386150;
        >span{
            width:15vh;
            height:1vh;
            background-color:white;
            display: inline-block;
        }
        h2{
            text-transform: uppercase;
        }
        article{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:90%;
            row-gap: 10vh;

           
        
            figure{
                // position:relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center; 
                width:100%;
                img{
                    width:100%;
                    height:40vh;
                    // position:absolute;
                } 
            
                // img:hover{
                //     background-color: rgba(50,50,50, 1);
                // }
            
            
            
                aside,figcaption{
                    display: none;
                }
                a{
                    position:relative;
                    width:100%;
                    height:40vh;
                    display: flex;
                }
                a:hover > blockquote{
                    // z-index:1;
                    width:100%;
                    height:40vh;
                    display: flex;
                    background-color: rgba(50,50,50,.4);
                    position:absolute;
                }
                blockquote{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color:#ECEBF3;
                    font-size:$dFontSize4;
                    font-style: italic;
                }
                img{
                    position:absolute;
                }
        }
    }
       
}

    .kpoponsale{
        display: flex;
        flex-direction: column;
        padding-top:10%;
        padding-bottom:5%;
        justify-content: center;
        align-items: center;
        row-gap: 2vh;
     

        >span{
            width:15vh;
            height:1vh;
            background-color:#386150;
            display: inline-block;
        }
        h2{
            text-transform: uppercase;
        }
        >article{
            display: flex;
            flex-direction: column;
            row-gap: 3vh;
        }
        figure{
            display: flex;
            padding-bottom:5%;
            flex-direction: column;
            background-color: cadetblue;
            justify-content: center;
            align-items: center;
            figcaption{
                text-align: center;
                small{
                    color:rgb(199, 42, 14);
                    text-decoration: line-through;
                }
                p{
                    font-size:$dFontSize4;
                    font-weight: 600;
                }
            }
            h6{
                font-size:$dFontSize1;
                color:dimgray;
            }
        }
        img{
            height:40vh;
        }
    }
.kpopaudition{
        display: flex;
        flex-direction: column;
        width:100%;
        column-gap: 2vh;
        justify-content: center;
        align-items: center;
        background-color:#8F91A2;
        padding-top:5%;
        padding-bottom:5%;
        form{
            width:90%;
            display: flex;
            flex-direction: column;
            row-gap: 1vh;
            // align-items: center;
                

                ::placeholder{
                    font-size:12px;
                }
                textarea{
                    height:20vh;
                  

                }
                [type="submit"]{
                    width:35%;
                    font-size:$dFontSize1;
                    // padding-top:2%;
                    

                }
               
            
            >section{
                display: flex;
                flex-direction: column;
            }
        }   
            
}
    
footer{
    background-color:#4E6E58;
    display: flex;
    justify-content: center;
    padding-top:5%;
    padding-bottom:5%;
    p{
        width:80%;
        color:white;
        line-height:1.5;
        font-size:$dFontSize1;
        text-align: center;
    }
}
.progress{
    width:90%;
}
       
    

