.kpopfix{
   
    background-color: #386150;
    aside{
        width:95%;
       @include NSflexrowcol(3vh);
        justify-content:right;
        a{
         color:white;
        :hover{
            color:#8F91A2;
        }
       }

    }
}
.kpoptitlepage{
    display:flex;
    height:10vh;
    padding-top:5%;
    column-gap: 2vh;
    justify-content: center;
    img{
        width:5vh;
        height:5vh;
    }
    h1{
        color:#4A442D;
        font-size:$dFontSize9;

    }
}
// img{
//     width:30vh;
//     height:30vh;
// }

.w-100 {
    // width: unset !important;
    height: 50vh !important;
}
nav>ul{
    display: none;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
details {
        color:#386150;
        text-align: right;
        width:95%;
        display: flex;
       
      
    
    ul{
        display: flex;
        flex-direction: column;
        width:100%;
        background-color:#386150;
        align-items: center;
        justify-content: center;
     
    }
    li{
        display: flex;
        width:100%;
        border-bottom:1px solid white;
        // justify-content: space-evenly;
        // text-align: right;
    }
    a{
        font-size:$dFontSize2;
        color:whitesmoke;
        text-align: right;
        width:95%;
        padding:1%;
    }
}
    .carousel-inner {
        h5{
            color:black; 
            font-weight: 600;
        }
        p{
            color:black;
            border:1px solid grau;
            background-color: antiquewhite;
            border-radius: 5%;
        }
    }
     

    .d-none {
        display: flex!important;
        flex-direction: column;
    }


    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1vh;
        background-color:#4E6E58;
        padding-bottom: 5%;
        padding-top: 10%;
        h2{
            font-size: $dFontSize8;
            text-align:center;
            text-transform: uppercase;
            display: flex;
            column-gap: 1vh;
            // padding-top:5%;
        }
        >span{
            width:15vh;
            height:1vh;
            background-color: #CDE6F5;
            display: inline-block;
        }
        article{
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            row-gap: 2vh;
            span{
                color:white;
                text-transform: uppercase;
            }
          
            a{
                background-color: #CDE6F5;
                padding: 1%;
                color:black;
                font-size: $dFontSize1;
                width:20%;

            }
            
            a:hover{
                color:#554640;
                background-color: white;
            }
        }
    }
    .calendar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // text-align: center;
            row-gap: 2vh;
            padding-top:10%;
            padding-bottom:5%;
            
            >span{
                width:15vh;
                height:1vh;
                background-color:#386150;
                display: inline-block;
            }
            h2{
                text-transform: uppercase;
            }
            article{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 5vh;
                width:80%;
               
              
                // background-color: #CDE6F5;
                figure{
                    background-color: #CDE6F5;
                    // width:100%;
                    padding-bottom:10%;
                    // display: flex;
                    // flex-direction: column;
                    // row-gap: 2vh;
                    border: 2px solid #554640;
                    img{
                        width:100%;
                        height:30vh;
                    }
                    figcaption{
                        padding-top:10%;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        row-gap: 1vh;
                        width:95%;
                        h3,small,p{
                            width:85%;
                        }
                        h3{
                            color:#4A442D;
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                        small{
                            font-size:10px;
                            color:#4E6E58;
                        }
                    }
                    

                }
            }
    }
    .artists{
        display: flex;
        flex-direction: column;
        padding-top: 10%;
        padding-bottom:10%;
        align-items: center;
        row-gap: 2vh;
        justify-content: center;
        background-color:#386150;
        >span{
            width:15vh;
            height:1vh;
            background-color:white;
            display: inline-block;
        }
        h2{
            text-transform: uppercase;
        }
        article{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:90%;
            row-gap: 10vh;
           
        }
        figure{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
            width:100%;
            img{
                width:100%;
                height:40vh;
            } 
        }
        aside,figcaption{
            display: none;
        }
       
    }
    .onsale{
        display: flex;
        flex-direction: column;
        padding-top:10%;
        padding-bottom:5%;
        justify-content: center;
        align-items: center;
        row-gap: 2vh;
     

        >span{
            width:15vh;
            height:1vh;
            background-color:#386150;
            display: inline-block;
        }
        h2{
            text-transform: uppercase;
        }
        >article{
            display: flex;
            flex-direction: column;
            row-gap: 3vh;
        }
        figure{
            display: flex;
            flex-direction: column;
            background-color: cadetblue;
            figcaption{
                text-align: center;
                small{
                    color:tomato;
                    text-decoration: line-through;
                }
                p{
                    font-size:$dFontSize4;
                    font-weight: 600;
                }
            }
        }
        img{
            height:40vh;
        }
    }
    .audition{
        display: flex;
        flex-direction: column;
        width:100%;
        column-gap: 2vh;
        justify-content: center;
        align-items: center;
        background-color:#8F91A2;
        padding-top:10%;
        padding-bottom:5%;

        >section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }
        form{
            display: flex;
            flex-direction: column;
            width:100%;
            aside{
                display: flex;
                flex-direction: column;
            }
        }

       
    }

